[2021-04-15 14:30] Jordy-VL opened #1 "Great initiative!"
Hi,

I was looking at explainaboard online and immediately some questions popped to mind:

I found that for NER, there was no calibration analysis. I was wondering if this is something you would like to support in the future?

Also, will you keep model binaries, as a model zoo? Or only analysis on benchmark datasets?
I believe a large-scale model zoo is missing in NLP, but the collection thereof m

[2021-04-15 18:24] pfliu-nlp commented on #1
Hi, Jordy

Thanks a lot for your interesting questions!

True! And yes, we actually have thought about this. Our current plan is to release output files of predictions first. But, we're thinking about the possibility of collecting binary models and releasing them as well by collaborating with Huggingface.

Yeah, currently, the calibration functionality only supports classification-based tasks (tex

[2021-04-18 16:24] pfliu-nlp opened #2 "add description of output file's format for semantic parsing"
(1) re-format existing output file (tsv? remove first line? table id?)
(2) create a readme.md file in: https://github.com/neulab/ExplainaBoard/tree/main/output_format/semp, add necessary information

@shuaichenchang

[2021-05-02 00:32] #2 closed

[2021-08-12 15:41] neubig opened #8 "Set up unit testing and continuous integration"

[2021-08-12 15:42] neubig opened #9 "Do some refactoring of names"
I am planning on doing the following:

* [x] Removing some older terminology like `interpret_eval` and `tensoreval`
* [x] Changing [camel case to snake case](https://www.theserverside.com/answer/Camel-case-vs-snake-case-Whats-the-difference) to be consistent
* [ ] Deduplicate code

[2021-08-14 21:48] neubig opened #12 "Requirements specify a single old version of seqeval"
Currently in `requirements.txt` there is a single, old version of seqeval specified:

    seqeval==0.0.12

In general it's probably better to avoid these "==" requirements, and only have ">" requirements, otherwise it can lead to environment conflicts.

[2021-08-15 14:40] neubig opened #15 "Code not runnable from other directories"
Currently due to some hard-coded relative paths to config files ExplainaBoard can't be run from anywhere but the top directory. This should be fixed.

[2021-08-16 19:39] neubig opened #16 ""Currently covered systems" is empty"
"Currently covered systems" in the README is empty. Maybe it should be replaced by a link on explainaboard.nlpedia.ai that lists all of the current systems?
https://github.com/neulab/ExplainaBoard#currently-covered-systems

[2021-08-16 19:53] neubig opened #17 "Could use an example for RE functionality"
Currently we have no example for relation extraction functionality. I heard from @pfliu-nlp that @jinlanfu might have an example, so it might be nice to add if you have one!

[2021-08-17 13:57] #12 closed

[2021-08-19 08:03] jinlanfu commented on #17
Hi~
Sorry, I don't have the relation extraction functionality, also the model prediction for RE too.

[2021-08-19 10:39] neubig commented on #17
Woops, sorry, my mistake!

[2021-08-23 01:05] #8 closed

[2021-08-24 00:42] neubig commented on #9
The easy deduplication is mostly done, I'll open up other issues to do the other stuff.

[2021-08-24 00:46] neubig opened #24 "Dataset cleanup"
Currently, datasets are included in different places in the code: `dataset` and `explainaboard/example`. It should be fixed so that all datasets are in a single location and have a uniform format. I think `dataset` is probably a better location.

[2021-08-25 13:14] pfliu-nlp commented on #16
Fixed! Thanks!

[2021-08-25 13:14] #16 closed

[2021-08-25 13:46] #17 closed

[2021-09-11 03:21] neubig commented on #24
(sorry, thought this was finished but realized it's not)

[2021-09-11 03:33] #15 closed

[2021-09-13 19:12] pfliu-nlp opened #28 "Add arguments (dataset_name, model_name) into Eval functions of different tasks."

[2021-09-13 19:42] neubig opened #29 "Add NLG tasks"
Currently the publicly available explainaboard code doesn't support NLG tasks, so this should be integrated.

[2021-09-14 02:07] pfliu-nlp commented on #29
To achieve this, we should figure out if we assume we can get metric value (ROUGE, BERTScore) and attribute value (abstractiveness) beforehand (from user). Both are costly to calculate. What's your opinion?

[2021-09-14 21:19] neubig commented on #29
Oh, I definitely think that these should be calculated within ExplainaBoard so that users can just upload outputs. If this causes computational issues we can think of ways to scale up I guess.

[2021-09-15 16:43] #28 closed

[2021-09-20 18:52] neubig opened #35 "Questions about datasets directory"
Hi @pfliu-nlp , I have a few questions about the datasets directory:

1. In the [README](https://github.com/neulab/ExplainaBoard/tree/main/dataset) it explains how to send a PR, but it doesn't explain what format the dataset should be in, where it should be placed, etc. (there are a few examples here but they seem to be system outputs, not the underlying data https://github.com/neulab/ExplainaBoar

[2021-09-20 18:53] neubig opened #36 "Interface with huggingface datasets"
It'd be cool if we could easily grab datasets from huggingface datasets: https://huggingface.co/docs/datasets/

[2021-09-20 21:15] pfliu-nlp commented on #35
Since currently, ExplainaBoard doesn't regard training/dev/test sets as a necessity, we don't make requirements w.r.t format of datasets only if the format of the system output file can match.

[2021-09-21 03:32] neubig commented on #35
Per our separate discussion, this will be handled along with #36

[2021-09-21 03:32] #35 closed

[2021-09-21 03:32] neubig opened #39 "Error case generation for tagging/chunking tasks is very slow"
It seems that the generation of error cases for tagging/chunking tasks is very slow, I bet it can be optimized somehow.

[2021-09-25 15:03] pfliu-nlp opened #44 "multi-lingual evaluation?"

[2021-10-21 14:18] danieldeutsch opened #49 "Add instance IDs to model outputs"
It would be really useful if the system outputs had IDs which could be used to match outputs across models. For instance, the CNN/DailyMail outputs are not in the order which I expected, so it's not easy for me to map from my model's outputs to the ones shared by ExplainaBoard.

[2022-01-26 06:09] pfliu-nlp opened #50 "Warming up"
- [x] read docs [[1]](https://github.com/neulab/ExplainaBoard/blob/main/docs/task_text_classification.md) to play with the ExplainaBoard SDK
- [x] read docs [[2]](https://github.com/neulab/ExplainaBoard/blob/main/docs/add_new_features.md) and try to add a new feature (e.g., the number of sentiment words) for the text classification task
- [x] read docs [[3]](https://github.com/neulab/ExplainaBoard

[2022-01-26 06:13] pfliu-nlp opened #51 "update the `table_schema` once we added a new task"
https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/table_schema.py

`table_schema` is used to design the table format that will be presented in the frontend.
Here we can add one for aspect-based sentiment classification task.

[2022-01-26 06:15] pfliu-nlp opened #52 "update new task (aspect-based sentiment classsification) information into task_category"
https://github.com/neulab/ExplainaBoard/blob/2a118f04513fa1a2b560654818870bcfe3878afd/explainaboard/tasks.py#L42

for example

[code]

[2022-01-26 09:24] pfliu-nlp opened #53 "explore more advanced features for aspect-based sentiment classification task and add them"
- [ ] read the [paper](https://arxiv.org/pdf/2009.07964.pdf), design more advanced features, for example
    * the number of `but` (`however`)
    * sentiment consistency of aspects
    * sentiment consistency of samples
    * training set dependent features?

[2022-01-26 14:44] pfliu-nlp opened #54 "Support more QA tasks?"
- [ ] NQ (https://ai.google.com/research/NaturalQuestions/dataset)
- [ ] TriviaQA (https://nlp.cs.washington.edu/triviaqa/) datasets

[2022-01-26 15:26] zorazrw opened #55 "Support question answering tasks in the open-domain setting"
Is there a way to enable analysis for open-domain question answering datasets? Or at least on the Reading Comprehension (RC) side, given different retrieved contexts from multiple retrieval models, to use/submit different versions of the context dataset but for the same RC task.

[2022-01-26 16:29] #52 closed

[2022-01-26 16:29] #51 closed

[2022-01-26 16:29] #50 closed

[2022-01-27 16:28] neubig opened #56 "New task: speech recognition"
Speech recognition is a standard generation task where the input is speech, output is text. For now, analysis could be done on the output side only.

* Evaluation metric: word error rate, character error rate
* Types of analysis: could be done on the level of individual deletions, substitutions, insertions. I have an example here: https://github.com/neubig/util-scripts/blob/master/counterrors.pl h

[2022-01-28 02:37] pfliu-nlp opened #57 "double check?"
https://github.com/neulab/ExplainaBoard/blob/cd194929a90fdf3d777abfc7d121ceebd71fd325/explainaboard/tasks.py#L86

Regarding the `aspect-based-sentiment-classification` task, should the metrics of it be:
(1) `f1_score_seqeval`  or
(2) `F1score` and `Accuracy`?

[2022-01-28 05:06] pfliu-nlp commented on #56
Sounds interesting: @neubig
* has some datasets of this task been covered by huggingface dataset?
* do we have en example of the system output file?

[2022-01-28 05:11] pfliu-nlp opened #58 "add new field `description` to feature schema?"
- [x] add `description` into feature schema
 - [x] instantiation `description` field of existing supported tasks

[2022-01-28 08:07] pfliu-nlp commented on #58
@OscarWang114
A new field named `description` has been added into each feature, for example
![image](https://user-images.githubusercontent.com/59123869/151510256-213f044f-024d-4ba1-bcae-605ff800a7a4.png)

[2022-01-28 08:07] pfliu-nlp commented on #57
I have fixed (using: `F1score` and `Accuracy`)

[2022-01-29 14:33] neubig commented on #56
* Yes, here's an example: https://huggingface.co/datasets/librispeech_asr
* I'll work on getting system outputs

[2022-01-31 15:13] neubig commented on #9
This is done with the refactoring I think.

[2022-01-31 15:13] #9 closed

[2022-01-31 15:14] neubig commented on #29
At least summarization is supported, so I'll close this issue, and we can add any other NLG tasks that we want as separate issues.

[2022-01-31 15:14] #29 closed

[2022-01-31 15:15] #39 closed

[2022-01-31 15:16] #57 closed, assigned to Shadowlized

[2022-01-31 15:18] neubig commented on #55
Thanks @zorazrw ! Could you give a slightly more detailed example of what this would look like for completeness? I think the "new tasks" part is covered by this https://github.com/neulab/ExplainaBoard/issues/54

but you also want new functionality concerning handling retrieved contexts in retrieval-based QA systems, which is an interesting problem.

[2022-01-31 15:20] neubig commented on #49
Thanks @danieldeutsch , this is a good point. I wonder what the canonical ID would be though. Maybe the sentence number in the original dataset?

[2022-01-31 15:21] neubig commented on #58
@pfliu-nlp if this is done the issue can be closed maybe?

[2022-01-31 15:21] neubig commented on #36
I believe this is done.

[2022-01-31 15:21] #36 closed

[2022-01-31 15:21] neubig commented on #24
I believe this is done.

[2022-01-31 15:21] #24 closed

[2022-01-31 15:25] neubig opened #60 "CLI should allow automatic submission of results to web interface"
When doing analysis via the CLI it should allow automatic submission of results to the web interface (ideally by default), and return a link to where the results can be browsed.

@pfliu-nlp , could you take a look at this maybe together with @OscarWang114 and @lyuyangh ?

On the web interface it would include a visual browser of the results, and then also a place where you can download the json re

[2022-01-31 16:11] pfliu-nlp commented on #60
We have discussed this features previously with @OscarWang114 and @lyuyangh .  Maybe we can also dicuss  this Thursday for more details.

[2022-01-31 16:12] pfliu-nlp commented on #58
@OscarWang114 you can close this issue if you have been aware of this feature.

[2022-01-31 17:04] danieldeutsch commented on #49
I think the selection of the ID would need to be dataset-specific. There isn't really an "official" ordering of the CNN/DailyMail dataset as far as I am aware. Each instance corresponds to a filename with a unique ID, and I have seen people people identify instances based on that ID. There may be other datasets for which the instance index is acceptable though.

[2022-01-31 17:13] neubig commented on #49
Great, thanks!

@pfliu-nlp : I think some sort of traceability like this would be a good idea. Let's think about it.

[2022-01-31 17:27] pfliu-nlp commented on #53
- [ ] features that might rely on a sentiment lexicon dictionary:
    * [ A list of English positive and negative opinion words or sentiment words](http://www.cs.uic.edu/~liub/FBS/opinion-lexicon-English.rar)
    * [ A list of non-standard English compariative words and phrases for sentiment analysis](https://www.cs.uic.edu/~liub/FBS/comparative-lexicon.pdf)
- [ ] the number of negation words?

[2022-01-31 17:28] OscarWang114 commented on #58
Thanks for the information! Closing the issue.

[2022-01-31 17:28] #58 closed

[2022-01-31 17:33] OscarWang114 commented on #60
Yes, we've previously discussed this feature together with the user account system. Auto-submission from CLI to the web interface can be achieved with API keys, which users need to download from the web interface and import to CLI, perhaps as an environment variable.

[2022-01-31 17:48] neubig opened #63 "Some miscellaneous improvements on the main README"
The following would be good to improve on the main README

* [x] It'd be good to explain what the CLI allows you to do a bit more, or refer to the additional documentation
* [x] I think it's probably better *not* to include the list of supported systems/tasks within the README, as it will get out of date quickly. Instead it'd be good to have a link to the web interface perhaps?

[2022-01-31 18:42] pfliu-nlp commented on #49
Thank you @danieldeutsch , we're also always thinking about how to introduce the notion of `id` appropriately. Here the key points I think are
(1) not only augment each system output with an `id` but also (2)  map this `id` to one test dataset that can be regarded as a standar,
So far, the new version of explainaboard partially support this, for example [`squad`](https://github.com/neulab/Explaina

[2022-01-31 19:38] pfliu-nlp opened #65 "Calibration on Structure Prediction Tasks"

[2022-01-31 19:39] #1 closed

[2022-01-31 19:39] pfliu-nlp commented on #1
Yeah, good suggestions

[2022-01-31 19:58] #63 closed

[2022-01-31 20:35] danieldeutsch commented on #49
I think using the `datasets` IDs when available would be helpful since many people use their dataset readers now. For example, [here](https://github.com/huggingface/datasets/tree/master/datasets/cnn_dailymail) they have unique IDs for the CNN/DailyMail dataset even though there aren't "official" ones.

[2022-02-01 03:46] pfliu-nlp opened #66 "Spacy model reload issue"
When fixed piaget issue, a new issue come out:
![image](https://user-images.githubusercontent.com/59123869/151909886-a879ddcd-b258-4c74-ab59-5d5ea5d5b90e.png)

[2022-02-01 05:18] lyuyangh commented on #66
direct dependency in `install_requirements` is a relatively new feature. What version of python and pip are you using? I couldn't really find good documentation on this but
- for pip, could you try `python -m pip install --upgrade pip` and see if that fixes the issue?
- for python, I used python3.8 and python3.9. I think it works with both of them.

[2022-02-01 05:22] lyuyangh commented on #66
Ohhhh, I see what you mean. CI is failing because of this. I'll take a look. Do you have any issue installing via `pip install .` locally?

[2022-02-01 11:40] neubig opened #67 "Several things are not documented in text classification tutorial"
I think it would be nice to have a tutorial that is basically the first thing that people look at when they want to figure out how to use ExplainaBoard on their own systems. [The text classification tutorial](https://github.com/neulab/ExplainaBoard/blob/main/docs/task_text_classification.md) is one good candidate for this, as text classification is a very easy-to-understand task with wide applicab

[2022-02-01 13:53] pfliu-nlp commented on #66
I haven't test it locally, I will once I have the time.

[2022-02-01 17:26] neubig opened #69 "existing_supports and cli_examples should be merged"
I think these could be merged into a single file, would that be OK with you @pfliu-nlp ? If so I'll do it:
* https://github.com/neulab/ExplainaBoard/blob/main/docs/cli_examples.md
* https://github.com/neulab/ExplainaBoard/blob/main/docs/existing_supports.md

[2022-02-01 17:34] neubig opened #70 "Extractive QA data format needs to be documented"
There is a [CLI example](https://github.com/neulab/ExplainaBoard/blob/main/docs/cli_examples.md) and [dataset](https://github.com/neulab/ExplainaBoard/blob/main/data/system_outputs/squad/testset-en.json) for extractive QA, but I wasn't able to easily guess what the dataset format is. I think we need some documentation for this, like we have for [text classification](https://github.com/neulab/Expla

[2022-02-01 17:45] neubig opened #71 "Extractive QA CLI example is broken?"
The [CLI example](https://github.com/neulab/ExplainaBoard/blob/main/docs/cli_examples.md) for SQuAD extractive QA seems to output zero accuracy every time. This seems like a bug.

For example:

    "results": {
        "overall": [
            {
                "metric_name": "f1_score_qa",
                "value": "0",
                "confidence_score_low": "0",
                "confidence_score

[2022-02-01 18:15] pfliu-nlp commented on #71
fixed. Reason: wrong name of system output file

[2022-02-01 18:15] #71 closed

[2022-02-01 18:18] pfliu-nlp commented on #66
Hi, I actually can install it locally.

[2022-02-01 18:38] pfliu-nlp commented on #70
https://github.com/neulab/ExplainaBoard/blob/main/docs/task_extractive_qa.md

[2022-02-01 18:38] #70 closed

[2022-02-01 18:49] pfliu-nlp commented on #67
Yeah, I have similar solution before I read the above sentence. We need some env where  `cli` and `visual platform` can interact in a real-time fashion. I have mentioned this [example](https://www.rubrix.ml/#install-rubrix).

[2022-02-01 18:52] pfliu-nlp opened #73 "QA uses different ids for analysis and system output samples"

[2022-02-01 22:58] neubig commented on #69
Fixed by https://github.com/neulab/ExplainaBoard/pull/68

[2022-02-01 23:09] neubig opened #75 "New task: Syntactic analysis tasks w/ universal dependencies"
A popular task in NLP is syntactic analysis using universal dependencies. Example subtasks are:
1. POS tagging
2. Morphological analysis
3. Dependency parsing

* **Data:** [Universal Dependencies Treebanks](https://universaldependencies.org/)
* **Evaluation Metrics:** Specified by the [CoNLL Shared Tasks](https://universaldependencies.org/conll18/)

[2022-02-01 23:17] #69 closed

[2022-02-01 23:39] pfliu-nlp opened #76 "Bugs: NER case printing"
`text` field should be the sample_id

![image](https://user-images.githubusercontent.com/59123869/152069693-6683a238-e6dd-4619-a852-b485a8f21d5e.png)

[2022-02-01 23:57] #66 closed

[2022-02-02 00:49] pfliu-nlp commented on #76
should be fixed:
![image](https://user-images.githubusercontent.com/59123869/152075728-177c2f67-5253-4ac1-8095-1b44e382ff6b.png)

[2022-02-02 00:50] pfliu-nlp commented on #76
@OscarWang114 you can close the issue once you informed of this.

[2022-02-02 00:51] pfliu-nlp commented on #76
Also, I put one example report file of NER task here: https://github.com/neulab/ExplainaBoard/blob/main/data/reports/report_ner.json

[2022-02-02 00:53] pfliu-nlp commented on #73
This should be fixed.
@lyuyangh you can close the issue once you' are aware of this.

[2022-02-02 03:03] lyuyangh commented on #73
Thanks a lot! I have verified that the ids are consistent for QA now but I found a new issue lol. QA now uses strings as ids but all the other tasks still use integers so the system output sample ID types aren't consistent for all tasks. The web app wouldn't be able to know when to search with a string and when to search with an integer. Could you update all the sample ids to use strings?

[2022-02-02 03:13] pfliu-nlp commented on #73
OK, done. Hopefully it can pass the github action test.

[2022-02-02 16:12] OscarWang114 commented on #76
@pfliu-nlp Thanks for the info! Closing.

[2022-02-02 16:12] #76 closed

[2022-02-02 18:57] neubig opened #78 "Does ExplainaBoard handle tokenization? Should it?"
I've been looking at the outputs for text generation tasks such as summarization
https://github.com/neulab/ExplainaBoard/blob/main/data/system_outputs/cnndm/cnndm_mini.bart

and also inputs for tasks such as classification
https://github.com/neulab/ExplainaBoard/blob/main/data/system_outputs/sst2/sst2-cnn.tsv

and they all seem to be tokenized. However, in many cases our inputs/outputs are not tok

[2022-02-02 19:03] pfliu-nlp commented on #78
Yes, ExplainaBoard doesn't do tokenization internally so far.

[2022-02-02 19:16] pfliu-nlp opened #79 "Github Down!"
![image](https://user-images.githubusercontent.com/59123869/152221759-3f2bece0-a4a4-4ec6-84d4-dd576b319186.png)

Interesting

[2022-02-03 01:25] neubig opened #80 "Suggestion: make system_outputs space-separated?"
Currently `system_outputs` is comma separated: https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/explainaboard_main.py#L48

However, this doesn't play super-well with some standard ways of doing things in Linux, which assume that multiple arguments are space separated. For example, the following don't work now but would work if we made it space separated:

    explainaboard --system_

[2022-02-03 01:30] neubig opened #81 "CLI only supports single-system analysis"
As evidenced by the `NotImplementedError` here:
https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/explainaboard_main.py#L58

It would be nice to support analysis of multiple systems at the same time!

[2022-02-03 01:37] neubig opened #82 "Extraneous message printed to stdout during analysis"
Currently explainaboard prints an extraneous message "Your request has been sent." to stdout during (some) analysis:

    $ explainaboard --task summarization --system_outputs ./data/system_outputs/cnndm/cnndm_mini.bart > report.json
    $ head -n 1 report.json
    Your request has been sent.

[2022-02-03 01:41] pfliu-nlp commented on #82
I see. This is printed by another library `eaas` that ExplainaBoard for summarization tasks has used.  Maybe need some modifications there.

[2022-02-03 01:43] pfliu-nlp commented on #81
We have discussed this with @OscarWang114 , @lyuyangh , since comparative analysis is not very interpretable in a local json file, we previously decided to make this part as a functionaltity implemented in the server side. Further discussion is welcome.

[2022-02-03 01:47] pfliu-nlp commented on #80
Good suggestion. We can revisit this issue once we have a consensus bout: https://github.com/neulab/ExplainaBoard/issues/81#issue-1122560907

[2022-02-03 02:18] neubig commented on #79
Github is now up :)

[2022-02-03 02:18] #79 closed

[2022-02-03 02:29] neubig opened #83 "It is not clear how to calculate different/additional metrics"
According to the documentation, multiple metrics are supported for the summarization task:
https://github.com/neulab/ExplainaBoard/blob/main/docs/supported_tasks.md#summarization

However, by default only BLEU is printed in the output JSON, and none of the documentation I can find tells me how I can print out (some variety of) ROUGE instead.

[2022-02-03 15:54] pfliu-nlp commented on #82
This should be solved (don't forget to re-install the newst eaas library)

[2022-02-03 15:54] #82 closed

[2022-02-03 15:55] pfliu-nlp commented on #83
Thanks for capturing this. I will refine this part ASAP!

[2022-02-03 16:10] neubig commented on #82
Confirmed!

[2022-02-03 18:42] #73 closed

[2022-02-03 21:17] pfliu-nlp commented on #83
Almost done: https://github.com/neulab/ExplainaBoard/blob/main/docs/supported_tasks.md#summarization
There are some metrics not being introduced currently due to some upstream bugs of eaas.

[2022-02-03 21:44] neubig commented on #80
I changed "*" to "+", but looks good!

[2022-02-03 21:44] #80 closed

[2022-02-04 17:26] pfliu-nlp commented on #83
should support more now (https://github.com/ExpressAI/EaaS_API_dev/issues/27#issue-1123515003)

[2022-02-04 17:26] #83 closed

[2022-02-04 17:27] pfliu-nlp opened #84 "Add detailed description of metrics (w.r.t summarization) and their applicable scenarios"
https://github.com/neulab/ExplainaBoard/blob/main/docs/supported_tasks.md#summarization

![image](https://user-images.githubusercontent.com/59123869/152574854-02adf1b2-da67-4bc0-a93f-d4d4e1903f71.png)

[2022-02-07 20:00] neubig opened #85 "Method for analysis of new extractive QA datasets is not clear"
Looking at the [documentation for Extractive QA](https://github.com/neulab/ExplainaBoard/blob/main/docs/task_extractive_qa.md) the file format is not clear with respect to how to analyze a *new* dataset. The system output JSON file specifies question IDs, but what if the dataset is not SQuAD but something entirely different, such as a dataset newly created by the user? How are the datasets specifi

[2022-02-08 13:23] pfliu-nlp commented on #85
After a second thought, I think adding qa task dataset-by-dataset would be a better way now (then we can merge them when seeing more cases) since we
* don't have more system outputs on other datasets, don't know what the common evaluation process (does the system output file cover all information of test set) is, therefore it's hard to generalize current qa evaluation processor.
* different datase

[2022-02-09 17:45] pfliu-nlp opened #86 "How to print cases for pair-wise system analysis?"

[2022-02-09 17:46] pfliu-nlp opened #87 "System combination feature?"

[2022-02-10 22:16] OscarWang114 opened #88 "NER returns the same fine-grained results for all buckets?"
I submitted the NER system output in the artifacts directory to the SDK. Below is the generated analysis. All buckets in "sentence_length" returned identical cases in bucket samples (a total of 1010). Possibly a bug?
<img width="505" alt="Screen Shot 2022-02-10 at 3 22 32 PM" src="https://user-images.githubusercontent.com/30998659/153505777-b9f39d0b-496a-4165-b830-d35e51e45cbb.png">

[2022-02-11 09:11] pfliu-nlp commented on #88
should be fixed. see new report example: https://raw.githubusercontent.com/neulab/ExplainaBoard/main/data/reports/report_ner.json

also, added a new feature for ner

[2022-02-11 09:13] #81 closed

[2022-02-11 14:46] pfliu-nlp commented on #88
Also, added the url of system output files fro instruction (@lyuyangh ): https://github.com/neulab/ExplainaBoard/blob/2e0ae0d3c4ee874800822449e876b6216cb4a644/explainaboard/tasks.py#L67

[2022-02-16 06:21] #88 closed

[2022-02-16 15:33] neubig opened #91 "Support for externally calculated bucketing functions"
Researchers using ExplainaBoard may want to prototype new feature functions, but not be very familiar with the internals of the ExplainaBoard SDK. In this case, it might be nice if they could define the buckets for each example externally, but do analysis over the buckets within ExplainaBoard.

There is an example of this in `compare_mt` here: https://github.com/neulab/compare-mt#incorporating-wor

[2022-02-18 16:13] neubig opened #93 "New Task: Support for MT"
We already support summarization, so support for MT should also be similar. We might also consider having a hierarchical level of support, like:
* sequence-to-sequence
  * summarization
  * MT
  * ...

Where there is a base set of features shared across all seq2seq tasks, and then specialized features for each sub-task.

In particular, it would be great if we could add some support for analyzing t

[2022-02-18 21:14] pfliu-nlp opened #94 "New Task: Metaphor QA"
Dataset: https://github.com/nightingal3/metaphor-qa
Format of system output:
[code]

[2022-02-18 21:16] pfliu-nlp commented on #94
Maybe also add this dataset into DataLab
https://github.com/ExpressAI/DataLab/issues/25#issuecomment-1045201114

[2022-02-18 21:21] neubig commented on #94
I think we should just treat this as a standard "multi-choice QA" dataset (like Hellaswag, which is already included). Could we generalize Hellaswag's schema to also cover this and other multi-choice QA datasets, like the ones included in unified-QA https://arxiv.org/abs/2005.00700

[2022-02-18 21:32] pfliu-nlp commented on #94
This should not be difficult.
But I'm still looking into the [dataset format of metaphor-qa](https://github.com/nightingal3/metaphor-qa/blob/master/data/filtered/train.csv), it seems a little confused and I probably will consult Emmy.

[2022-02-18 21:49] pfliu-nlp commented on #94
Agree. A good opportunity to eat off QA tasks, (hopefully, together with another big task: mt)

[2022-02-20 05:01] #93 closed

[2022-02-21 15:01] pfliu-nlp commented on #94
The dataset `metaphor_qa` has been added into (1) sdk (2) web analysis platform of DataLab.
Relevant discussion: https://github.com/ExpressAI/DataLab/issues/86#issue-1145907487

[2022-02-21 17:04] neubig opened #98 "New task: IR"
This is not super-high priority, but it'd be nice to be able to analyze IR tasks. Some example benchmarks include
* MS MARCO: https://microsoft.github.io/msmarco/
* BEIR: https://github.com/UKPLab/beir

[2022-02-22 03:22] pfliu-nlp commented on #98
Sounds good. A good idea is that we can start with our `Dataset Finder` dataset and models.

[2022-02-22 17:15] pfliu-nlp opened #100 "New Scenario: Multilingual Analysis"
System analysis in multilingual setting is usually very painful especially for some one like me who is not a multilinguist.
We probably need some new designs.

[2022-02-22 20:13] neubig opened #101 "Bug: Leaderboards seem to be non-functional?"
Going to the leaderboards seems to have an infinite "loading" menu and no functionality:
https://explainaboard.inspiredco.ai/leaderboards/machine-translation

I suspect that this might be because there's no data, but we might want to hide any leaderboards that aren't functional at the moment (or hide the "leaderboards" tab entirely if it's not working)

[2022-02-22 20:50] lyuyangh commented on #101
Looking at the logs, it seems that the "tasks" field is missing for some of the datasets and those datasets are selected for at least one of the systems. I'm not quite sure how that happened. I'll provide a fix today.

[2022-02-22 22:09] lyuyangh commented on #101
fixed in https://github.com/neulab/explainaboard_web/commit/ff201dcc152ebc39198a0cc6cb92a704c9262bad Also, turned on MT.

[2022-02-26 16:10] pfliu-nlp opened #102 "New task: Fine-grained Evaluation for Efficient Transformer?"
For example: https://arxiv.org/pdf/2202.08791.pdf (Just realized its importance after discussing with Lingpeng.)

[2022-02-26 20:16] neubig opened #103 "KG Link Prediction Tests are Very Slow"
Currently the KG Link Prediction tasks are quite slow compared to the tests for other tasks. It'd be nice if we could make the tests finish a bit more quickly.

[2022-02-27 20:11] neubig opened #105 "Training set dependent and/or pre-calculated features are reported even when they don't exist"
Running the example from the doc on named entity recognition

    explainaboard --task named-entity-recognition --system_outputs ./data/system_outputs/conll2003/conll2003.elmo

It seems to be working well, other than the fact that entity-related feature buckets don't seem to be reported.

    the information of #eCon#
    Bucket_interval	F1	Entity-Number
    [0.0,]	0.9222	5657

    the information

[2022-02-28 20:40] neubig opened #106 "More extensive support for training-set dependent features"
Many informative features are dependent on the training set or features calculated from the training set being available.

Currently, this is dependent on pre-computed features being included in the ExplainaBoard repository, such as below: https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/builders/named_entity_recognition.py#L41

This seems like it won’t scale if we want to, for exam

[2022-03-01 11:09] #105 closed

[2022-03-01 13:40] pfliu-nlp commented on #106
Besides the above stuff, I think some important questions I want to figure out are:
(1) which types of task do we aim to explore first
(2) what will be a `good` training set dependent features for these task?
We could have a list based on the above questions first.

[2022-03-01 13:57] neubig commented on #106
Good questions!

If you want two really simple training set dependent feature that are task independent, and also simple to implement in our current framework we could do:
1. Number of unknown words in the input sentence (presumably more unknowns = more difficulty)
2. Average frequency rank of words in the sentence, such as the right side of figure 3 in [the seq2seq models paper](https://arxiv.org

[2022-03-01 13:59] pfliu-nlp opened #109 "What would be a good output format for multiple system analysis?"
### Relevant discussion
* https://github.com/neulab/ExplainaBoard/pull/104#issuecomment-1055341118
* https://github.com/neulab/ExplainaBoard/issues/86#issue-1128845773

[2022-03-01 14:10] pfliu-nlp commented on #106
Yeah, I'm think whether the differences among feature types will effect the design of general framework to do this.
These two task-irrelevant features are good. Anyway, I will try to explore more first and put them [here](https://docs.google.com/document/d/1QCof9k2wcE1G64VHn2-Aih_Yz8DdZ3fHc2Io4--sxBE/edit?usp=sharing)

[2022-03-03 02:53] pfliu-nlp opened #110 "Mark for discussion"
- [ ] introduce the concept of subdataset?
- [ ] compression strategy of `dataset._stat`?
- [ ] different cache methods for `dataset._stat`?

[2022-03-10 04:40] #101 closed

[2022-03-10 04:44] neubig opened #113 "ExplainaBoard repo is very big, so cloning is slow"
The full history of the ExplainaBoard repo is quite big, and because of this a `git clone` on the ExplainaBoard repository takes a really long time on a slow-ish internet connection.

It seems the largest dataset is this, which is 50M or so, but there are others too: https://github.com/neulab/ExplainaBoard/tree/main/data/datasets/fb15k_237

Given that one goal of ExplainaBoard is to cover basicall

[2022-03-10 12:06] neubig opened #114 "ExplainaBoard basic install directions throw error"
I tried to install explainaboard into a clean environment using the standard install directions, and install is failing:

    conda create --name explainaboard_test python=3
    conda activate explainaboard_test
    git clone https://github.com/neulab/ExplainaBoard.git
    cd ExplainaBoard/

Currently, unit tests are all failing, here's how to reproduce:

    conda create --name explainaboard_test

[2022-03-10 12:14] neubig opened #115 "Tests are not being run on continuous integration"
For some reason, tests are not being run as a part of continuous integration. For example, the latest commit: https://github.com/neulab/ExplainaBoard/runs/5491761591?check_suite_focus=true

Shows the following log:

    Run python -m unittest

    ----------------------------------------------------------------------
    Ran 0 tests in 0.000s

    OK

I think this might be because of this change,

[2022-03-10 12:45] neubig opened #117 "Tests failing on import of datalab functionality"
When I try to run unit tests, for example:

    python -m unittest explainaboard/tests/test_text_classification.py

I get the following error:

    Error
    Traceback (most recent call last):
      File "/Users/gneubig/opt/anaconda3/envs/exp/lib/python3.8/unittest/loader.py", line 34, in testFailure
        raise self._exception
    ImportError: Failed to import test module: test_text_classificat

[2022-03-10 18:19] pfliu-nlp commented on #114
Have you modified anything already? I actually haven't replicated the above errors  following your installation instructions.

[2022-03-10 22:00] pfliu-nlp commented on #117
I actually can run it successfully by following commands:

[code]

[2022-03-10 22:35] pfliu-nlp commented on #113
goog suggestion, and it should be fixed.

[2022-03-10 23:27] lyuyangh commented on #117
This is also failing for me. It's failing because explainaboard doesn't specify a version number for datalabs. pip won't automatically upgrade to the latest version because of that. I guess since we have a circular dependency, we cannot specify a specific version for datalabs? Or maybe for now, we can specify the datalabs version in explainaboard repo but leave the explainaboard version unspecifie

[2022-03-10 23:41] pfliu-nlp commented on #117
Interesting, I think I have experienced "specify version number" -> "remove it" -> "specify it" now
![image](https://user-images.githubusercontent.com/59123869/157773187-d572ed94-6254-4bc9-8869-007b030605c2.png)

I think this is a question for Graham since I'm fine with both.
( I'm trying to figure out how to install the latest version automatically previously, but didn't find an elegent way. Let

[2022-03-11 00:00] lyuyangh commented on #117
Oh, that makes sense. My environment had `datalabs == 0.2.7` but `datalabs.operations.aggregate.qa_extractive` was introduced until later. That's why I had to upgrade datalabs to the latest version. I think we just to specify a lower bound (>= xxx) for datalabs. but we probably don't need a specific version if datalabs is relatively stable.

[2022-03-11 00:14] pfliu-nlp commented on #117
One thing I'm curious about is: when perfoming following commands:
[code]
shouldn't we install everything from scratch, so the default version of datalabs should be the latest one?

[2022-03-11 00:34] lyuyangh commented on #117
Yeah, I think you are right. This wouldn't be an issue if someone installs everything in a clean environment. I was resuing an environment with a lower version.

[2022-03-11 14:04] pfliu-nlp opened #122 "error logs when deployed in web app (kb task)"
![image](https://user-images.githubusercontent.com/59123869/157882350-e97fc4c6-57a9-4527-895c-10634d86bc2b.png)

the file `entity_type_level_map.json` should be placed in a right place (@hwidjaja ).
I will address this later.

[2022-03-11 14:14] pfliu-nlp opened #123 "error logs when deployed in web app (w.r.t Summarization)"
![image](https://user-images.githubusercontent.com/59123869/157883076-57f520ff-1372-4d8b-81f3-ad80ba8f5528.png)

This happened probably because, now, we calculated the feature for summarization task locally (instead of using eaas), so some additional resource like `punkt` should explicitely specified.

[2022-03-11 14:22] neubig commented on #114
Weird, I also was not able to reproduce the issue now. Sorry about the inconvenience, and closing this!

[2022-03-11 14:24] #115 closed

[2022-03-11 14:24] neubig commented on #115
Fixed.

[2022-03-11 14:26] neubig commented on #117
I think the best solution here is to specify a `>=` dependency instead of an `==` dependency. Shouldn't that solve the problem?

[2022-03-11 16:13] neubig opened #125 "Code deduplication -> code style"
Currently our flake8 tests for code style are failing on continuous integration, because the repository hasn't really been following coding conventions up till this point. I think it'd probably be a good idea to move in the direction of being compliant.

However, before we do that I think we should probably try to deduplicate the code so we don't end up fixing the formatting of the same code multi

[2022-03-12 01:19] #103 closed

[2022-03-12 04:00] pfliu-nlp commented on #123
fix now.

Good point.

[2022-03-12 04:00] #123 closed

[2022-03-12 04:02] pfliu-nlp opened #128 "Tokenizer Related Discussion"
* https://github.com/neulab/ExplainaBoard/issues/78
* https://github.com/neulab/ExplainaBoard/issues/123

[2022-03-12 04:02] pfliu-nlp commented on #122
Fixed but have a new bug?

![image](https://user-images.githubusercontent.com/59123869/158002941-2c06efad-c8aa-47f9-806b-0be17da011f8.png)

[2022-03-12 04:13] pfliu-nlp commented on #122
This pr can fix the above bug, but @hwidjaja it would be nice if you can check the functionality of customized features by:
* adding more unittest for kg_link_tail_prediction tasks [here](https://github.com/neulab/ExplainaBoard/tree/main/explainaboard/tests) in different testing scenarios (e.g, using custmoized features, or non-customized) to see if the output buckets are as expected.

[2022-03-12 04:14] #113 closed

[2022-03-12 04:15] pfliu-nlp commented on #117
We can go with it.

[2022-03-12 04:15] #117 closed

[2022-03-12 05:14] pfliu-nlp opened #130 "Summarization Evaluation on large system output file:"
It seem that our web app can not deal with [these files](https://drive.google.com/drive/folders/1TPE2M3R38_ugCAMJ05lEalqErkLhIeBr)
 (50M) currently?

[2022-03-12 05:22] lyuyangh commented on #130
The file size limit is specified [here](https://github.com/neulab/explainaboard_web/blob/main/deployment/nginx.conf). What's the maximum file size we want to support?

[2022-03-12 13:42] pfliu-nlp commented on #130
Thank Lyvyang!

Good question. I'm not sure whether 100M is too large.
But, as I have mentioned previously in the slack, perhaps enabling the front end to support any submission scenarios is a luxury thing.  The above file is just one system output from one dataset.  In the future, we potentially will have more (multiple systems, multiple languages).
Things we can think about:
* could users only s

[2022-03-12 17:37] neubig commented on #130
This is a good question:

That's true. If we want this to be someone to use I think handling multiple systems, multiple languages, etc. is something we should probably handle by making our code more efficient and scaling our infrastructure. We want something usable, and don't want to put limits on what people can do unless really necessary.

This is something I think we should *definitely* have, a

[2022-03-14 15:37] neubig opened #132 "Bug? in Bucketing Code"
I'm not 100% sure this is a bug, but I think it is, @pfliu-nlp or someone could you check?

Here:
https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/builders/__init__.py#L257

I think

    feature_to_sample_address_to_value[feature_name] = {}

should probably be

    feature_to_sample_address_to_value[feature_name] = {sample_address: dict_sysout[feature_name]}

[2022-03-14 19:22] lyuyangh commented on #130
I increased the file size limit to 100M in https://github.com/neulab/explainaboard_web/commit/a40db58f0bb34ad77bd610e961b449771dc38340 (will be deployed in ~10m). I tested with one of the files. The request timed out but the report was generated successfully. This is probably only good for a temporary solution. The file is too big and the processing time is too long for a sync operation. I agree w

[2022-03-14 22:50] pfliu-nlp opened #134 "update the doc accordingly"
dont' forget to update the [doc](https://github.com/neulab/ExplainaBoard/blob/main/docs/add_new_features.md) accordingly (w.r.t `bucketInfo`)

[2022-03-14 23:05] pfliu-nlp commented on #106
Regarding 2, @neubig
Yes, we need to set up a permission strategy. So far, I just let Yang help out with implementing an API that we can use to read and write some information from MongoDB.
Two follow-up questions:
(1) what would be a good method to achieve this? ( It seems like we'll certainly need to have a permissioning system for this)
(2) Each document of MongoDB cannot stored too large files

[2022-03-15 18:51] OscarWang114 opened #135 "Setting confidence score to None/null instead of zero if unavailable"
Currently, it seems that the confidence scores (low and up) are set to zero if they are unavailable in the analysis. It would be better if we can set it to `None` in python and output `null` in JSON. It is more meaningful semantically and helps solve [this web interface bug](https://github.com/neulab/explainaboard_web/issues/111) I am fixing.

The bug is caused by the logic that confidence score p

[2022-03-15 19:16] neubig commented on #135
I can do this.

[2022-03-15 20:11] OscarWang114 commented on #135
@neubig Thanks for the reply and taking on the issue! Looking forward to the PR. If at any moment you need to prioritize other matters, I'm happy to work on it too. 😀

[2022-03-15 21:53] #125 closed

[2022-03-15 22:23] #132 closed

[2022-03-16 16:15] #135 closed

[2022-03-17 17:01] neubig opened #141 "Separate dataset and system output"
Per discussion here: https://github.com/neulab/ExplainaBoard/issues/130

Currently dataset and system output are passed in as one file, but it would be better to pass them in separately, possibly with the dataset read directly from datalab.

[2022-03-17 18:02] neubig opened #142 "Bring text generation eval closer to parity with compare-mt"
It would be nice to improve the features for text evaluation closer to parity with [compare-mt](https://github.com/neulab/compare-mt). This will require things such as:

* [x] Token-level evaluation instead of example-level evaluation
* [x] More features
* [ ] Pairwise demonstration of sentences/examples that are much better or worse for a particular system
* [ ] Pairwise demonstration of n-grams

[2022-03-20 17:10] odashi opened #145 "Rethinking of TaskCategory"
The library has the `TaskCategory` struct to group similar tasks. As far as I saw there is no any functionality for `TaskCategory` in the library, and it is used only from the web frontend.

1. If it is a UI-specific thing, it would be better to move the definition to `explainaboard-web`.
2. If it is still useful to keep some category-ish information in this library, I'd recommend to use "tag"s as

[2022-03-20 18:19] neubig commented on #145
I think it's definitely a reasonable idea to rethink this.

The original idea behind the task categories is that they would be everything where inputs and outputs are basically the same format. For example:

*text-to-text:* summarization, machine translation, etc.
*text categorization:* sentiment classification, topic classification
*text pair categorization:* NLI, paraphrase detection
...

The re

[2022-03-21 10:31] odashi commented on #145
Does this mean the task category will provide input/output schemas? I guessed these can also be represented as a property of the task itself.

Here I discussed several features of `Task`:
- *tags* ... just a list of strings to group tasks to certain categories (e.g., `machine-translation` would have `text-to-text`, `conditional-text-generation`, `multilingual`)
- *input schemas* ... a concrete def

[2022-03-21 16:31] pfliu-nlp opened #154 "Can we make `get_statistics` a member function?"
Relevant stuff:
* https://github.com/neulab/ExplainaBoard/blob/81ccab37d6bd1a7ac93e8ae4b67526f99c124c4e/explainaboard/processors/conditional_generation.py#L293
* https://github.com/neulab/ExplainaBoard/pull/153

[2022-03-21 16:38] pfliu-nlp commented on #128
* https://github.com/neulab/ExplainaBoard/pull/153#issuecomment-1074134752

[2022-03-22 01:06] neubig opened #158 "New Task: Recognition of General BRAT Span Format"
[BRAT](https://brat.nlplab.org/) is an annotation tool that covers a wide variety of NLP analysis tasks by expressing them as annotation of spans and relations between the spans. This generalized format enables easy handling of a bunch of tasks, such as in [edge probing](https://arxiv.org/abs/1905.06316) and [GLAD](https://github.com/neulab/cmu-multinlp). It would be nice to implement this in Expl

[2022-03-22 02:36] OscarWang114 opened #159 "Where should the information of table_schema.py be placed?"
As discussed in https://github.com/neulab/ExplainaBoard/pull/157, `table_schema.py` is only used by the web frontend so it might be better to move the information there. It will be the frontend's responsibility to make sure the table schema and the SDK version match.

[2022-03-22 10:54] neubig opened #160 "Tokenizers need to be fixed for training set feature computation"
Currently only using SingleSpaceTokenizer.

[2022-03-22 10:55] neubig opened #161 "Conditional generation bucket-level evaluation should use proper statistics"
Currently conditional generation bucket-level evaluation is taking the average of segment scores, which only works if a metric is decomposable across sentences. This is not the case for major metrics like BLEU and ROUGE, so this should be fixed.

[2022-03-22 17:43] pfliu-nlp commented on #161
Good capture.

I think ROUGE  should be decomposable.
So far, what eaas supports:
* regard bleu chrf as non-decomposable metrics and calculate sample-level (without sufficient statistics) and dataset-level scores
* regard other metrics as decomposable metrics and calculate the sample-level (without sufficient statistics) and dataset-level
Maybe a good way to achieve this is that eass only need to

[2022-03-22 17:58] neubig commented on #161
Sorry, to be clear, by decomposable I mean this:

`metric(Y,Y*) = 1/|Y| \sum_{(y,y*) \in (Y,Y*)} metric(y,y*)`

This is not the case for BLEU, ROUGE, chrF. But I'm pretty sure it is the case for COMET, BERTScore, BARTScore, etc.

All of the above metrics can be calculated from the sum of sufficient statistics, which is what we should do. I'll work on this unless someone else wants to work on it.

[2022-03-22 20:03] pfliu-nlp opened #164 "Document the concept of `statistics` [Discussion]"
I guess `statistics`  would be an important concept throughout the project, making it well-organized and documented will be both good for developers and users.
(Also, caching statistics from different scenarios characterizes one valuable point of ExplainaBoard.)
General, there are the following scenarios:

## Statistics of trainning set
* Purpose: it's costly to calculate the training set dependen

[2022-03-22 20:11] neubig commented on #161
So in the [original definition of ROUGE-N](https://aclanthology.org/W04-1013.pdf), it is not the case, as shown by this equation:
![Screen Shot 2022-03-22 at 4 04 22 PM](https://user-images.githubusercontent.com/398875/159566434-cce55580-6788-45be-9ab9-ec01e1030408.png)

But I confirmed that indeed the Google toolkit for example just takes the average of sample-level scores.

[2022-03-23 18:01] pfliu-nlp opened #169 "New Featuers for KGExplainaBoard"
- [x] Generalize evaluation metric: Hit@k (k is a dynamic parameter)
    * a simple way to do this we can support a variety of metric variants, such as hit@1, hit@2, hit@3, hit@5, for example, summarization tasks support many metrics: https://github.com/neulab/ExplainaBoard/blob/8dcc5885d4a9523bb33c3d55a6d8372ba2ef07d2/explainaboard/tasks.py#L50

- [ ] Support a dynamic number (n_bucket) of bucket

[2022-03-24 04:37] divija96 commented on #158
@neubig I'd like to take this up. Please could you add me as an assignee :)

[2022-03-24 05:31] divija96 commented on #54
Mentioning other popular QA datasets here for reference:

- [ ] [WebQA](https://webqna.github.io/): Multimodal hence might be difficult to evaluate.
- [ ] [BioASQ](http://bioasq.org/): Biomedical semantic indexing.

[2022-03-24 13:07] pfliu-nlp commented on #158
Hi, @divija96 thanks for your interest, just did it.

[2022-03-24 13:17] jinlanfu opened #170 "The prompt words in the analysis result are incorrect"
I tried to run the command`explainaboard --task text-classification --system_outputs ./data/system_outputs/sst2/sst2-lstm.tsv`, which is a example given in the README.

The figure below is the analysis result. Some prompt words should be wrong and can be modified. For example, `F1` --> `Performance`, `Entity-Number` --> `Sample-Number`.
![截屏2022-03-24 下午9 15 24](https://user-images.githubuserconte

[2022-03-24 13:31] pfliu-nlp opened #171 "Documentation is difficult to find?"
Based on some feedback, it seems the documentation of ExplainaBoard is difficult to find.

[2022-03-24 14:12] #154 closed

[2022-03-25 07:40] odashi commented on #171
How about deploying documents on the ReadTheDoc?

[2022-03-25 07:50] odashi opened #173 "Unsafe en_core_web_sm downloading in setup.py"
Currently `setup.py` will execute an external command `python -m spacy download en_core_web_sm` to install a spaCy model during setup. This approach has several issues about system consystency:

- spaCy models are intendedly not registered to PyPI, and PyPI does not allow libraries depending on external requirements.
- The command is just a system command which possibly breaks the system, or won't

[2022-03-25 08:00] odashi commented on #173
Some comments:
- Download the model programatically when `spacy.load()` fails.
  - This is easy option for novices, but the system is still changed unexpectedly. This option won't work in offline systems.
- Bundle the model file into this repository.
  - This is also easy yo use, but the size of the repository or distribution packages grows, and we have responsibility to maintain bundled models.
-

[2022-03-25 13:36] neubig commented on #160
Fixed, thanks @pfliu-nlp

[2022-03-25 13:36] #160 closed

[2022-03-25 13:38] neubig commented on #94
This has been added for now. There are some other related issues in making a leaderboard, which we're working on separately.

[2022-03-25 13:38] #94 closed

[2022-03-25 15:10] woshiyyya commented on #158
Hi @pfliu-nlp , @divija96 and I will be working on this issue, can you add me to the assignees as well?

[2022-03-25 16:43] neubig commented on #142
PR implementing "1." and "2.": https://github.com/neulab/ExplainaBoard/pull/175

[2022-03-25 16:46] neubig commented on #170
This is fixed in https://github.com/neulab/ExplainaBoard/pull/175

[2022-03-25 19:00] neubig opened #177 "Change bucket structure in report datastructure/json"
Currently in the generated report datastructure/json we have a structure like this for buckets:

    {
      metadata
      metrics=[
        {metric_1,
          {bucket_1}
          {bucket_2}
        },
        {metric_2,
          {bucket_1}
          {bucket_2}
        }
      ]
    }

but the bucket datastructures are very large because they keep track of all of the samples in the bucket. In

[2022-03-25 21:06] neubig commented on #158
↑done

[2022-03-26 11:51] odashi commented on #173
Some comments? @pfliu-nlp @neubig

[2022-03-26 12:20] neubig commented on #173
I'm not 100% sure I understand the issue here actually.
So I can understand better: what is an example of a situation where the current method causes a problem for users?

[2022-03-26 12:23] neubig commented on #173
Also, as a meta-comment: currently we are planning that majority of users of the SDK in this repo will be developers or power-users who want to actually program new analyses.

We expect that most end-users will interact mostly with the web interface, and won't have to install this repo. Because of this, the emphasis on this repo being extremely easy for everyone to install is not quite as high as

[2022-03-26 13:10] odashi commented on #173
It is generally a strong assumption that every system command can work as we implicitly expected. for example:

1. A case we could meet easily is that the "python" command is not supported officially by several operating systems, e.g., recent versions of Ubuntu requires additional installs.
2. Some build systems (e.g., Bazel) hacks the system commands to process tool specific things. In this case

[2022-03-26 13:53] pfliu-nlp commented on #173
hey, @odashi thanks for the nice suggestion and valuable discussion with Graham.

if this is the case and I prefer the 1st and 3rd options that you have mentioned

Regarding the 1st option:

This is easy option for novices, but the system is still changed unexpectedly. This option won't work in offline systems"

Maybe this ("This option won't work in offline systems") isn't a very urgent issue for

[2022-03-26 14:31] odashi commented on #173
Backend services on clusters sometimes hit this situation if they don't have outbound access.

I found this line in the repo that maybe does the same thing:
https://github.com/neulab/ExplainaBoard/blob/2f3a9fb151e995fde4d72d7acd6fd2531ef6101b/explainaboard/utils/feature_functions/sum_attribute.py#L11
and I guessed the service cluster has outbound access anyway. So the answer for now is "no not ver

[2022-03-26 14:40] neubig commented on #173
Gotcha, makes sense. I guess we can be consistent in using method "1." for now, but revisit this if it becomes an issue. Thanks!

[2022-03-28 13:40] pfliu-nlp opened #186 "ExplainaBoard maintains the hyper-parameter features?"
After discussion with Kiril and Haris, the idea of enabling ExplainaBoard to record hyper-parameter features for each task come out.

To achieve this, the potential workflow is:
* design a reasonable schema for hyper-parameter, e.g., shared hyper-parameters, or task-specific ones
* add this schema into the `SysOutput` class
* design interface for users to specify their hyper-parameters
    * SDK s

[2022-03-30 02:12] neubig opened #190 "NER should be converted to use Metric class"
Currently only the NER task is not using a standard Metric class which is inconvenient, because it makes the interface different and also prevents the easy application of significance tests. It's also causing one failing unit test, and should be fixed ASAP.

[2022-03-30 02:14] neubig opened #191 "Creation of a JSON schema for output report, and addition of unit tests checking this"
Currently the format of output reports is not formally specified anywhere, and it's also not checked if the reports conform to any fixed schema in unit tests. This should be fixed.

[2022-03-30 09:59] #177 closed

[2022-03-30 10:19] neubig commented on #91
This has been implemented somewhat, but maybe needs to be documented/tested better?

[2022-03-30 15:07] pfliu-nlp opened #193 "Exportable Visualization of ExplainaBoard Analysis Report"
It would be nice if users can export figures that could be directly used in their papers based on the generated analysis reports.

- [ ] supported by SDK
- [ ] supported by Web app

[2022-03-31 18:07] pfliu-nlp opened #197 "Bug(?): the evaluation results using `ExactMatchQA` on extractive qa task"
Reported from Jinlan: the evaluation results using `ExactMatchQA` on the extractive QA task are significantly lower than the one calculated by the previous version of SDK

[2022-03-31 18:17] pfliu-nlp commented on #197
Aha, thanks Graham, I'm looking now, by comparing with the old branch, I found the `normalize_answer` function has been re-written, but I think they are not completely the same, is this intended?

[2022-03-31 18:22] neubig commented on #197
No, they were supposed to be the same. If it's not that's my mistake. Thanks for fixing this and sorry for the bug!

[2022-04-01 07:37] pfliu-nlp opened #199 "Inherited wealth from ExplainaBoard 1.0"
## The time is almost ripe to consider transferring resources from ExplainaBoard 1.0 to 2.0

### Purposes:
* ExplainaBoard 2.0 could be enhanced by introducing system outputs collected from ExplainaBoard 1.0
* ExplainaBoard 2.0 should re-run all system outputs
* ExplainaBoard 2.0 should cover all features supported by ExplainaBoard 1.0
    * Calibration
    * Detailed Leaderboard design with paper

[2022-04-01 07:51] pfliu-nlp opened #200 "Inherited wealth from ExplainaBoard 1.0 - Multilingual Benchmark"
### Purpose:
* ExplainaBoard 2.0 should cover all features that ExplainaBoard 1.0 -XTRME has.
### Methodology
* Re-format system outputs: how to format system outputs?
    * Benchmark leaderboard: How to design benchmark’s leaderboard
    * Fine-grained analysis: How to perform two types of fine-grained analysis
        * Sample-level
        * Dataset-level (different tasks, different datasets, d

[2022-04-01 08:17] pfliu-nlp opened #201 "Interface for data format conversion"
## Purpose:

* we can provide some out-of-box functions so that users can use them to convert the system output’s format from A to B, where
    * A: could the format that users are familiar to
    * B: could the format that ExplainaBoard requires

## Methodology: summarize potential scenarios
* tsv|conll -> json
* tsv|conll|json + additional information-> json_with_user_configs
where `json` repres

[2022-04-01 13:52] neubig commented on #199
Looks great!

Regarding keeping the paper information, let's just use the `system_metadata` mechanism I suggested here: https://github.com/neulab/ExplainaBoard/issues/186

[2022-04-02 04:21] jinlanfu opened #203 "The number of buckets for analysis files is inconsistent with the predefined ones."
Some specific feature values of a feature contain much more samples, such as the `lexical_richness` feature for text classification, and the samples with `lexical_richness=1` occupy 1/3 of the samples in the dataset. These samples should be put into the (last) bucket first to keep the total bucket number equal to the predefined number.

[2022-04-02 04:44] jinlanfu opened #204 "There is a bug in the printing of the Error Sample ID."
There are multiple correct answers for extractive QA tasks, which are usually stored with `list:[]`·. However, it is unreasonable for all tasks to judge whether the sample is predicted correctly or not through the [`if true_label != predicted_label:`](https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/processors/processor.py#L397).

[2022-04-02 10:18] neubig commented on #203
Thanks @jinlanfu ! For this issue (and the other one you previously filed), it'd be easier for us to fix it if you provide an example that allows us to reproduce the undesired behavior.

[2022-04-02 10:44] neubig commented on #197
Being handled by this PR: https://github.com/neulab/ExplainaBoard/pull/198

[2022-04-02 13:07] #197 closed

[2022-04-02 14:17] #190 closed

[2022-04-02 16:56] neubig commented on #100
Duplicate of https://github.com/neulab/ExplainaBoard/issues/44

[2022-04-02 16:56] #100 closed

[2022-04-02 22:33] pfliu-nlp opened #206 "Introduce MetricConfig since more and more member variables are involved"
Relevant discussion:
* https://github.com/neulab/ExplainaBoard/pull/198#discussion_r841092014
* https://github.com/neulab/ExplainaBoard/pull/198#discussion_r841093454

[2022-04-03 00:45] jinlanfu commented on #204
The `bucket_samples` stores the sample id of the wrong sample, and `n_samples` represents the number of samples placed in the bucket. In the `extractive QA task`, the number of sample IDs stored in `bucket_samples` is equal to `n_samples` (which means that the samples placed in the bucket are all wrongly predicted).
We may need to define some special processing or statistical methods for specific

[2022-04-03 00:45] pfliu-nlp opened #207 "CLI examples in the docs can not work since the file_type is not specified"
After some refactoring, it seems that currently, the file_type should be explicitly specified, otherwise the CLI cannot work.
We either need to update the docs or add some default file_type when it has been specified.

For example,
(1) cannot work now
[code]
(2) work
[code]

[2022-04-03 01:48] jinlanfu commented on #203
Only three buckets are returned when I predefine the number of buckets to 4 (see the following figure). The reason can be that there are many samples with `lexical_richness=1`, and the sample size of the `last bucket: "(0.9111111111111111, 1.0)"' is much larger than the `average`(num_samples_of_data/num_buckets).
At present, Explainaboard already has the function of pre-defining bucket intervals,

[2022-04-03 01:59] neubig commented on #203
Thanks! Could you provide a file and command line argument that allows us to reproduce the behavior (a [minimal reproducible example](https://en.wikipedia.org/wiki/Minimal_reproducible_example))? Based on this we'll fix the immediate problem.

In addition, we definitely need to make the features more configurable. I think this PR will make it much easier: https://github.com/neulab/ExplainaBoard/pu

[2022-04-03 14:09] neubig opened #208 "SDK logging methodology"
Currently we don't have a clear policy for where/when things should be printed out to the SDK. It'd be nice to be a little bit more systematic about this.

[2022-04-04 19:32] pfliu-nlp commented on #207
this should be fixed

[2022-04-04 19:32] #207 closed

[2022-04-04 19:54] neubig commented on #206
Done.

[2022-04-04 19:54] #206 closed

[2022-04-05 00:51] OscarWang114 opened #210 "Unify typing of metric_stats"
`metric_stats` has a variety of types: `Any`, `list[MetricStats]`, `Optional[list[MetricStats]]`. I'd like to work on unifying them. Two things I'd like to know:

1. If `metric_stats`is empty, is it `None` or an empty `list`?
2. Is its type always `list[MetricStats]`? Are there any exceptions?

[2022-04-05 01:56] neubig commented on #210
I think it's safe to assume that the type is always `list[MetricStats]`!

[2022-04-06 01:39] pfliu-nlp opened #213 "A Detailed Documentation for KG task (CLI + Pythonic Implementation)"
So far, the documentation for the KG task is too simple and only covers CLI command, which may not be powerful enough for developers like NEC collaborators.

[2022-04-06 04:12] OscarWang114 opened #215 "Add binarize function MetricStats"
Since `metric_stats` contains NumPy arrays, it needs to be binarized/serialized before being stored in MongoDB. This process is implemented in the web interface, but it makes more sense to add a binarize/serialize function in `MetricStats`. I will work on this.

[2022-04-06 09:38] #210 closed

[2022-04-07 16:05] tetsuok opened #218 "test_no_user_defined_features in TestKgLinkTailPrediction fails"
Hi, I noticed CI in this repo keeps failing due to test failures. The tests are failing for several reasons.
I think developers can get more confidence if the test failures get fixed when they make some fundamental changes
and they merge pull requests from contributors.

The one of the failures is `test_no_user_defined_features` in `TestKgLinkTailPrediction` class in `explainaboard/tests/test_dyna

[2022-04-07 16:13] pfliu-nlp commented on #218
Thanks a bunch, @tetsuok for your nice capture! Your suggestion is correct. We actually have fixed this in this PR: https://github.com/neulab/ExplainaBoard/pulls but haven't merged it currently (will do it ASAP)

[2022-04-07 16:15] tetsuok opened #219 "test_eaas_decomposabiltiy in TestMetric fails"
This is yet another type of the test failures I observed in CI.
`test_eaas_decomposabiltiy` in `TestMetric` class in `explainaboard/tests/test_metric.py` is failing.
The test fails when the metric is "bleu" and "chrf". It seems better to double check the test script and code
to compute theses scores. See output below for details.

### Environment

- Debian GNU/Linux 10 (buster)
- python 3.7.3

###

[2022-04-07 16:18] pfliu-nlp commented on #219
Aha, yes, these two are also expected, we haven't fixed them since we're waiting for other functionalities to be implemented. But thank you a lot!

[2022-04-07 17:41] pfliu-nlp commented on #218
this should be fixed since this PR has been merged: https://github.com/neulab/ExplainaBoard/pull/217

[2022-04-07 17:42] #218 closed

[2022-04-07 17:42] pfliu-nlp commented on #213
done: https://github.com/neulab/ExplainaBoard/pull/217

[2022-04-07 17:42] #213 closed

[2022-04-09 01:28] Hou-jing opened #221 "我当上传自己系统的输出时，出现了如下错误"
![image](https://user-images.githubusercontent.com/75936962/162551213-43732907-83e0-48fb-9a45-9acc2f4d8ab4.png)

[2022-04-09 07:05] pfliu-nlp commented on #221
Hi, @Hou-jing, thanks for your attention. We actually have upgraded our system output submission UI. Which tasks are you focusing on now? I can share our beta version with you if your task has already been supported by our new version.

[2022-04-10 00:46] neubig opened #224 "Documentation in explainaboard/analyzers"
It's hard to tell how to use the scripts in the `explainaboard/analyzers` directory.
* [ ] It would be nice to have a `README.md` file.
* [ ] The [behavior](https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/analyzers/draw_hist.py#L91) in `draw_hist.py`, where multiple reports are specified but only the first is used, is counter-intuitive.

[2022-04-10 00:49] neubig commented on #130
I think that a combination of fixing #141 and improvements to the efficiency of EaaS should fix this issue, so I'm going to close it in favor of these more detailed issues.

[2022-04-10 00:49] #130 closed

[2022-04-10 16:05] neubig commented on #219
Fixed through #220

[2022-04-10 16:05] #219 closed

[2022-04-13 17:32] #141 closed

[2022-04-13 19:59] neubig opened #234 "Better support for listing/inspecting DataLab datasets"
Now that ExplainaBoard easily supports datasets input by DataLab, we need

* [ ] A list of all of the supported datasets so users know which ones they can select
* [ ] Instructions on how to add a dataset if they don't exist
* [ ] A programmatic way to access this list (for use in the web interface, etc.)
* [ ] A way to dump or manually inspect the datasets (so users can tell what order the data e

[2022-04-13 22:34] neubig opened #235 "Two problems with SST2 command line example"
The documentation is out of date so I'm working on fixing it: https://github.com/neulab/ExplainaBoard/pull/233

However, in the process I noticed two errors in the command line example from `sst2` included in the unit tests: https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/tests/test_cli.py

First, take the example of when the data is not read from datalab, using the following comma

[2022-04-13 22:40] neubig commented on #235
One follow-up note. For the latter problem it's strange, because for `ag_news`, looking up the stats in Datalab seems to work:

    success

But for sst2 it does not:

    dataset does not exist

However, sst2 is definitely in the datalab database.

[2022-04-14 00:28] lyuyangh commented on #235
hmm, @pfliu-nlp  would you have time to take a look at this? I'm not familiar with `read_statistics_from_db` (external stats). I didn't think this is an issue because I thought not every dataset has external stats but I'm not sure how it works.

[2022-04-14 12:11] pfliu-nlp commented on #235
hi,

I guess the reason is:
currently, we will also calculate some training set dependent features and store them in MongoDB, which means there must be a dataset named `sst2` in MongoDB. There is one, but not in a consistent transformation. So that's why we could find sst2 finally.
Notably, two datasets will be considered as the same one when following types of information are the same:
* dataset_

[2022-04-15 01:04] OscarWang114 opened #238 "get_pairwise_performance_gap does not conform with the latest schema"
Some additional suggestions besides schema:
1. Consider passing in minimal information: We're passing the entire system now. Can we pass in only overall and fine-grained results? So instead of `(sys1:dict ,sys2:dict)`, do `(result1: Result, result2: Result)`, where `Result` is the data class we've defined.
2. Avoid mutating the parameter: Let's construct a new `Result` to store the gap information

[2022-04-15 02:45] #106 closed

[2022-04-15 15:25] neubig opened #239 "Better support for specifying dataset splits from DataLab"
Currently ExplainaBoard basically assumes that we're analyzing the "test" set from DataLab.

However, we may want to analyze other dataset splits, and some major datasets (e.g. SQuAD) don't even release the test set. We should support specifying the dataset split programmatically, including through the CLI.

[2022-04-15 15:53] neubig opened #240 "CLI stderr should write out overall performance"
Currently the CLI stderr writes out bucketed performance but not overall performance. It should write out overall performance at the top.

[2022-04-15 15:56] neubig commented on #234
Update: this directory has a list of all datasets https://github.com/ExpressAI/DataLab/tree/main/datasets

But more information should be available. See this issue opened upstream: https://github.com/ExpressAI/DataLab/issues/135

[2022-04-15 16:41] lyuyangh commented on #234
Adding on to that, I think we also need a programmatic way of getting this list (and metadata of these datasets) so we can show a dropdown for the user to choose from on the web interface. We have been using the list of datasets in the database. Is it synced with the datalab repo or does it need to be manually updated?

[2022-04-15 21:54] neubig opened #241 "`test_cli.py` tests are sensitive to working directory"
This is a minor inconvenience, but `test_cli.py` tests fail when run from a directory other than the top `explainaboard` directory due to loading files through relative paths. It would be nice if they could be made insensitive to working directory by grabbing the path with respect to the test python file.

[2022-04-16 01:02] neubig opened #242 "`get_oracle` is too slow on large datasets"
For summarization oracle features are calculated by default, but if the dataset is too large (e.g. the CNNDM `datalab` example in the CLI docs) it takes too long and doesn't terminate.

[2022-04-16 20:05] OscarWang114 opened #243 "Incorrect bucket number in bucket info"
In `processors/text_classification.py`, feature "label" has the following bucke info:
[code]
The number should be 2 (for label 0 and 1) not 4? Also, `setting = 1` seems to correspond to the number of entities after digging the code, but we can make its role clearer. Would be nice if we can make it a unified `setting` data class for all types of buckets.

[2022-04-18 16:19] neubig opened #247 "KG link tail prediction not yet working with DataLab"
The CLI example for KG link tail prediction is not working with datalab. I'd like to fix it as part of this PR: https://github.com/neulab/ExplainaBoard/pull/233

But the code structure is a bit different, and I'd like to avoid holding up this big PR from being merged, so I'll split off another issue. There is a unit test in `test_cli.py` named `test_kglinktail_datalab` that is disabled for now, bu

[2022-04-18 19:33] #171 closed

[2022-04-18 19:33] #235 closed

[2022-04-20 19:42] pfliu-nlp opened #250 "More Comprehensive Test Suites"
This is a draft doc to maintain the design of deeper tests for ExplainaBoard so that potential hidden bugs could be captured when we make major refactoring.

Generally, from the task perspective, the following tests would be added gradually for each task:

- test if training set features could be automatically disabled when there is no training set
- test if training set dependent features could b

[2022-04-20 19:55] lyuyangh commented on #250
I think this is great! If we have all these tests, we can be more confident when we merge PRs. You might have already thought of this but just one general comment is that I think it may take quite some time to cover all of these (e.g. all the metrics for all the tasks) so maybe we can write more unit tests for the sub-modules of the system? For example, we can test bucketing by itself without actu

[2022-04-20 20:03] pfliu-nlp commented on #250
Aha thanks and this (`For example, we can test bucketing by itself without actually going through the loading -> processing process`) makes sense!  I think I will do both and I find task-by-task testing is pretty rewardable, also, pushing me examining deeply just like a user.

[2022-04-21 21:12] pfliu-nlp opened #251 "Download files in `pre_computed` folder on-the-fly and cache them"
As title goes and some discussions: https://github.com/neulab/ExplainaBoard/pull/244#discussion_r855298802

[2022-04-22 00:07] neubig opened #253 "Task-specific documentation needs to be updated"
Currently, the task-specific doc here is out of date, given the new file formats: https://github.com/neulab/ExplainaBoard/tree/main/docs

It should be updated, and possibly automatically generated from the Python files specifying the tasks.

[2022-04-22 19:01] #238 closed

[2022-04-22 19:01] #241 closed

[2022-04-22 19:01] #253 closed

[2022-04-25 15:13] iglee opened #262 "Running into `RemoteDisconnected` error when running explainaboard with multiple metrics/some metrics."
Hello, I ran into `RemoteDisconnected` error when I was running multiple metrics at once to generate reports. So, I tried running them individually, and found that some metrics worked and ran into the same issues for some other metrics.

Example traceback of the errors:
[code]

Failed command I tried: (multiple metrics, bart_score_mt, comet)
`explainaboard --task machine-translation --custom_datas

[2022-04-25 15:16] iglee commented on #262
oh, actually, `bart_score_mt` was a different error. just checked the log again, and it was `ValueError: Invalid metric specification`.

[2022-04-25 15:23] iglee opened #263 "ValueError: Invalid metric specification: bart_score_mt"
Ran into value error when I tried running `bart_score_mt`.

Traceback:

[code]

but I saw as a supported metric on `task.py`
https://github.com/neulab/ExplainaBoard/blob/5055013af62dd9c50c46e389ed3c678031a3a319/explainaboard/tasks.py#L46

[2022-04-25 19:12] #239 closed

[2022-04-25 19:15] neubig commented on #263
So I think this is probably because BARTScore is taking too long to compute and timing out.

* **Short term fix:** don't use bart_score, or use it only on smaller files.
* **Long term fix:** we will make bart_score computation more efficient on EaaS so this doesn't happen.

Also, we need to fix the error message, which is a known issue: https://github.com/inspired-co/eaas_client/issues/19

[2022-04-25 22:28] iglee commented on #263
Hi, thank you! I'll try a smaller file, but probably will use other metrics in the short term.

[2022-04-25 22:33] lyuyangh opened #267 "`SysOutputInfo` serialization and refactoring `Features`"
These are the things we discussed in https://github.com/neulab/explainaboard_web/pull/135

- [ ] provide serialization and deserialization methods for `SysOutputInfo`. `SysOutputInfo` needs to be stored in the DB so we need a way to convert it into a dict. This is currently implemented in explainaboard_web but it's buggy. It'll be great if we can move it to this repo so it's always up to date. `Sy

[2022-04-25 22:46] neubig commented on #263
yes, I think sticking with other metrics is fine for now

[2022-04-26 00:11] neubig commented on #267
Regarding serializing and deserializing SysOutputInfo. I think the following may work?
* serialization: whatever is used by json serialization, since we already have it for generating reports
* deserialization: `from_dict` https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/info.py#L231

[2022-04-26 10:55] neubig commented on #221
The new beta site is available here: https://explainaboard.inspiredco.ai/

Please submit if you're interested!

[2022-04-26 10:55] #221 closed

[2022-04-26 10:57] neubig commented on #234
This is now available here: https://github.com/ExpressAI/DataLab/blob/main/utils/datasets_info.json

This still needs to be documented better in the ExplainaBoard at the very least.

[2022-04-26 11:00] neubig commented on #122
Is this fixed?

[2022-04-26 17:26] #122 closed

[2022-04-27 02:22] neubig commented on #60
This probably shouldn't be included in the explainaboard sdk, but in the web server and a thin client. Closing here in favor of this issue: https://github.com/neulab/explainaboard_web/issues/143

[2022-04-27 02:22] #60 closed

[2022-04-27 14:14] neubig opened #272 "Redefine printed out examples"
Currently, ExplainaBoard prints out some error cases (for each bucket) in its report but the way of doing so is ad-hoc. Here is a suggestion for how to improve:

1. we will define error scores with respect to each example (overall or in an individual bucket)
2. either in `report.json` or the web interface, we write out a maximum of X examples with the highest error scores according to each definit

[2022-04-28 15:09] neubig opened #273 "New Task: Regression"
We should be able to handle regression tasks, where the output is a continuous value.

Here is a roadmap for implementing this:
* [ ] **Implement Loaders and Processors:** Look at the [loader](https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/loaders/text_classification.py) and [processor](https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/processors/processor.py) for "t

[2022-04-28 15:10] neubig opened #274 "New Input Format: Continuous Features"
It'd be good to have the ability to read in continuous features as an input. I'd suggest "named libSVM format" like this:

     my_feature=0.5 my_second_feature=0.9

[2022-04-29 23:52] #208 closed

[2022-04-29 23:52] #240 closed

[2022-05-03 01:29] pfliu-nlp opened #283 "Inconsistent formats of `bucket_samples` in different tasks"
Currently, the formats (schemas) of `bucket_samples` in different tasks are inconsistent, which poses the challenges for frontend visualization and results in  the error `B4` in https://github.com/neulab/explainaboard_web/issues/127

Note:
It's not difficult to unify the following formats in SDK but we may also want to reflect something mentioned in this issue: https://github.com/neulab/ExplainaBo

[2022-05-03 02:36] pfliu-nlp opened #284 "Summarization evaluation using `rouge2` is quite slow"
For example, by running
[code]
it took more than 15 seconds, which I guess is relatively slower?

[2022-05-04 00:25] pfliu-nlp commented on #284
Hey, @neubig  do you think this is normal?

[2022-05-04 00:43] neubig commented on #284
Is this consistent? Or is it slow sometimes and fast sometimes? It could be that the EaaS server is overloaded.

[2022-05-04 01:27] neubig commented on #283
I agree, and we can also perhaps think of this together with this issue: https://github.com/neulab/ExplainaBoard/issues/272

[2022-05-04 02:31] pfliu-nlp commented on #283
Aha, yes, I actually mentioned 272 at the beginning of this page.

[2022-05-04 03:04] neubig commented on #283
Woops sorry! I missed that paragraph

[2022-05-04 04:15] pfliu-nlp opened #286 "All datasets used in ExplainaBoard 1.0 should be supported by DataLab SDK"
If necessary, we can introduce the concept of version (e.g., `explainaboard`) and represent it as `sub_dataset_name`, for example,

[code]

[2022-05-04 04:24] pfliu-nlp opened #287 "What would be a good unified task category name for: NER, Chunking, WS"
Options:
* tagging
* sequence-labeling
* span-prediction

[2022-05-04 05:17] pfliu-nlp commented on #286
## aspect-based-sentiment-classification
- [ ] laptop
- [ ] rest14
- [ ] rest16
- [ ] twitter

## chunking
- [ ] conll00
- [ ] conll03

## word-segmentation
- [ ] as
- [ ] cityu
- [ ] ckip
- [ ] ctb
- [ ] msr
- [ ] ncc
- [ ] pku
- [ ] sxu

## named-entity-recognition
- [ ] conll2003
- [ ] conll2000
- [ ] notebc
- [ ] notebn
- [ ] notemz
- [ ] notenw
- [ ] notetc
- [ ] notewb
- [ ] wnut16

## text-

[2022-05-04 16:36] neubig opened #289 "New Metric: OutputLength"
It'd be good to be able to browse the output length of outputs generated by conditional generation models.

[2022-05-04 21:48] pfliu-nlp opened #291 "Inconsistent number of test samples between test data and system predictions in KG task"
the number of test samples in https://github.com/PhaelIshall/KGExplainaBoard/tree/main/FB15K-237 is: 20466   while
the number of test samples in https://github.com/PhaelIshall/KGExplainaBoard/tree/main/user-defined-ranks is: 20441,
such inconsistency results in some errors when we introduce training set dependent features

I will generate a dummy version of the test data and put it in DataLab SDK,

[2022-05-04 21:50] OscarWang114 commented on #283
@pfliu-nlp About the `table_schema.py` you mentioned earlier, it seems to be deleted from the repo but can be recovered from this [commit](https://github.com/neulab/ExplainaBoard/pull/157/commits/91a027b5278d09352087f826fa817e965867c594).

This isn't the actual commit that deleted it but the one that Graham deleted and then restored it. I think the file content should be the same though!

[2022-05-05 04:36] lyuyangh opened #292 "`FeatureType.from_dict()` should ignore unused keys"
`FeatureType.from_dict()` throws an exception if an extra key is provided. I think it should be safe to only extract keys that is defined for the dataclass.

Error message:
[code]

[2022-05-05 04:53] pfliu-nlp commented on #292
This PR mentioned this error.

`is_pre_computed` has already been removed from the refactored feature class, here I guess  having such an error is a good
thing (reminder)?

[2022-05-05 09:43] neubig commented on #292
The issue here is that the new implementation is not backward compatible with features that were saved to the web UI database previously. (I actually also encountered this error)

Unfortunately we're probably now going to have to think a bit more about backward compatibility of serialization/deserialization like this, and there's a couple options:
1. Make sure the code is backward-compatible in ge

[2022-05-06 19:15] OscarWang114 commented on #283
I discussed this briefly with @lyuyangh , and here are some of our thoughts:

## 1. Frontend becoming task-dependent is inevitable (but in a good way)

Different NLP tasks have their own ideal ways of presenting analysis results and examples. For instance, BRAT works well for NER examples, while common token highlighting or visualizing the embedding space might work well for text-generative exampl

[2022-05-08 13:08] neubig opened #297 "Implement mypy stub files"
It'd be nice to have stub files to make mypy work with libraries that import explainaboard:
https://mypy.readthedocs.io/en/stable/stubgen.html

[2022-05-08 15:35] neubig commented on #289
Fixed by https://github.com/neulab/ExplainaBoard/pull/293

[2022-05-08 15:35] #289 closed

[2022-05-09 20:12] lyuyangh commented on #292
I tried migrating the DB schema (removed all `is_pre_computed`) but I think there are several other things that need to be updated (e.g. some of the `_type` stored in the DB is no longer valid). I removed all the systems in the dev env. If we want to keep those system outputs in prod, I think we'll probably need to do 3?

[2022-05-11 03:30] neubig commented on #292
Handled by https://github.com/neulab/explainaboard_web/pull/169

[2022-05-11 03:30] #292 closed

[2022-05-12 15:25] pfliu-nlp opened #302 "Introducing a unified & general interface for class serialization"
It's good to consider introducing a unified & general interface for `from_dict`

Some existing implementation & discussion
* https://github.com/neulab/ExplainaBoard/blob/aaf91a57f4a5c143a6f6c2aec33a81a3e51690b8/explainaboard/utils/serialization.py#L4
* https://github.com/neulab/ExplainaBoard/pull/301
* https://github.com/neulab/ExplainaBoard/blob/aaf91a57f4a5c143a6f6c2aec33a81a3e51690b8/explainabo

[2022-05-16 01:16] neubig opened #306 "Unify naming of "model" and "system"?"
Currently we're mixing the use of "model" and "system". "system" is more common, but "model" is also in various places, such as `explainaboard_main`: https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/explainaboard_main.py#L147

I think "system" is clearly more accurate, as it's the whole system that ends up producing an output, not just the model. So maybe we should unify to "system"

[2022-05-16 04:15] pfliu-nlp commented on #306
cool, have a similar feeling, I think we can go with `system`!

[2022-05-16 15:13] neubig opened #308 "Need to check the API documentation for KG link prediction"
It is apparently broken.

[2022-05-17 12:10] gkiril opened #310 "Get customized bucket performance for kg_link_tail_prediction"
For the KG link tail prediction task, there's a code for analyzing customized buckets of predictions ([simple code](https://github.com/neulab/ExplainaBoard/blob/86d96b83d5ebf60adbdbdaa3a00883546fa05fde/docs/task_kg_link_tail_prediction.md#simple-example) and [customized bucket order](https://github.com/neulab/ExplainaBoard/blob/86d96b83d5ebf60adbdbdaa3a00883546fa05fde/docs/task_kg_link_tail_predic

[2022-05-17 12:59] #308 closed

[2022-05-18 08:07] gkiril commented on #310
Thank you @pfliu-nlp for the answer! As far as I understand this, the returned results are only for the no_custom_feature. How can we get the same results for the file [/explainaboard/tests/artifacts/kg_link_tail_prediction/with_custom_feature.json](https://github.com/neulab/ExplainaBoard/blob/86d96b83d5ebf60adbdbdaa3a00883546fa05fde/explainaboard/tests/artifacts/kg_link_tail_prediction/with_custo

[2022-05-18 23:44] pfliu-nlp opened #312 "Unittest errors due to file downloading"
The following errors happened several times, maybe we can move it (the file) to S3.

[code]

[2022-05-18 23:56] neubig commented on #312
I'm fine with S3.

[2022-05-18 23:59] pfliu-nlp commented on #312
Thanks, I will update the links of these files.

[2022-05-19 16:02] iglee opened #315 "Number of buckets and bucket intervals differ for `hypothesis_length`"
While analyzing WMT21 translation system outputs, I found that the number of buckets and the bucket intervals for `hypothesis_length` in reports sometimes differ from system to system.

language pair: en-zh
dataset: newstest2021

[2022-05-23 16:26] neubig opened #317 "Doc needs to be updated for extractive QA"
Currently extractive QA CLI instructions: https://github.com/neulab/ExplainaBoard/blob/main/docs/cli_interface.md#extractive-qa

Have this outdated text:

[2022-05-23 16:55] neubig commented on #85
I think this is done.

[2022-05-23 16:55] #85 closed

[2022-05-27 10:48] pfliu-nlp opened #318 "Evaluation for Gaokao Benchmark"
- [x] multiple-choice -> accuracy
- [ ] conditional generation-based qa (hint) -> accuracy
- [ ] grammar error correction -> recall?
- [ ] conditional text generation -> human evaluation

[2022-05-31 19:18] gkiril commented on #310
Hi @neubig and @pfliu-nlp , thanks for the update. I downloaded the most recent code and I get an error. I try to print the results with the following code:

[code]

However, the line

`for bucket_name, bucket_info in feature_info.items():
`
Throws the following error:
[code]

I suppose that with the new version of the code, there is another way of getting the fine-grained results? If so, do you h

[2022-06-01 01:28] neubig commented on #310
Hi @gkiril , here is the updated code!

[code]

[2022-06-01 05:55] gkiril commented on #310
Thank you @neubig , the code now runs. However, now I have trouble interpreting the results.

Suppose I have the following file with custom buckets:

[code]

Note that the name of one of the `rel_type` is changed to from `asymmetric` to `asymmetric2` (I did the same for all data instances where rel_type = asymmetric; they are now turned to "asymmetric2"). I cannot see the score for this bucket `as

[2022-06-01 10:43] neubig commented on #310
Hi! It took me a little while to figure out what was going on myself, the issue was that you need to pass in the custom feature configuration into the metadata for the processor (this is done in `explainaboard_main` but wasn't done here programmatically. I also changed the formatting of the results to make it a little easier to read.

Regarding the confidence scores, those are the confidence for t

[2022-06-01 12:01] gkiril commented on #310
Yes, this is what I needed, thanks!

[2022-06-01 12:01] #310 closed

[2022-06-02 21:35] neubig opened #325 "Pairwise significance tests"
Currently ExplainaBoard doesn't support pairwise significance tests such as the pairwise bootstrap, but it really should.

[2022-06-02 21:52] neubig opened #326 "Handle outputs from multiple random seeds"
It's relatively customary to run experiments with multiple random seeds. It'd be nice to think about what we should do in these cases.

[2022-06-06 13:00] neubig opened #328 "Conditional generation evaluation is not sensitive to language"
Conditional generation should consider the target language when performing tokenization for evaluation, but it does not.

[2022-06-08 12:56] neubig opened #329 "New. Task: Tagging"
We should support word-by-word tagging (e.g. POS tagging). This should be relatively simple by adapting `BIOSpanUtils`, but we just need to do it.

[2022-07-09 23:30] neubig commented on #287
I think we decided on sequence labeling as the higher-level name, and span labeling or token labeling as sub-categories.

[2022-07-09 23:30] #287 closed

[2022-07-09 23:31] neubig commented on #283
This is fixed.

[2022-07-09 23:31] #283 closed

[2022-07-09 23:33] neubig commented on #224
This is fixed.

[2022-07-09 23:33] #224 closed

[2022-07-09 23:36] neubig opened #336 "Check documentation for v0.11"
There is a major refactoring for v0.11 to introduce analysis levels, but the documentation needs to be checked for accuracy.

[2022-07-09 23:40] neubig opened #337 "Add confusion matrix analysis"
As an example of another analysis type enabled by the new analysis levels, we can add confusion matrices.

[2022-07-09 23:49] neubig opened #338 "Simple programmatic definition of custom features"
It'd be nice if SDK users could easily define new custom features by writing programs. For example, they could write a Python`.py` file that defines new feature functions or analyses, this program is specified when running the SDK, and then the processor calls these custom feature/analysis functions at analysis time.

[2022-07-11 15:28] neubig opened #341 "Better error message for poorly formed seqlab outputs"
Running the following command

[code]

on the tsv file in the attached [test-eng_final.tsv.tgz](https://github.com/neulab/ExplainaBoard/files/9085382/test-eng_final.tsv.tgz) fails because the file is poorly formatted. Failing is good, but the failure message is quite opaque (see below). It would be better to have a better error message that points out the line in the input file where the output is

[2022-07-17 20:47] neubig opened #346 "Visualization for confusion matrices"
Currently the visualization scripts will not output visualizations for CombinationCountAnalysis, but they should.

[2022-07-28 23:17] neubig commented on #274
Done adding `tabular-regression` and `tabular-classification`

[2022-07-28 23:17] #274 closed

[2022-07-28 23:18] neubig commented on #337
Done

[2022-07-28 23:18] #337 closed

[2022-07-28 23:18] neubig commented on #336
Done.

[2022-07-28 23:18] #336 closed

[2022-07-28 23:19] neubig opened #361 "Merge v0.11 into main"
Version 0.11 can be merged into main once a certain level of support has been achieved in explainaboard_web.

[2022-08-01 09:50] odashi opened #370 "Plugin feature and related refactoring of the whole structure"
# Background

This repository hosts all task/metric definitions that the ExplainaBoard handles, and it seems we face several problems to maintain the current development manner:

- The size of the codebase will become unnecessarily large for most users that are usually interested in only a few tasks.
- CI will become costful: test is too slow and requires a bunch of network connection. It already

[2022-08-01 12:51] odashi commented on #370
@neubig @pfliu-nlp RFC

[2022-08-01 14:39] pfliu-nlp commented on #370
Hi, @odashi  thanks for the proposal! I will give the comments in 6 hours!

[2022-08-03 09:07] odashi commented on #361
It looks not trivial changes are pushed to non-main branch? could you merge it directly to main?

[2022-08-07 01:48] pfliu-nlp opened #374 "Create the glossary of the technical terms (or ubiquitous languages) in ExplainaBoard"
(This is suggested by @odashi )
The current documentation mainly lacks things except how-to guides that makes other developers hard to understand how the software is developed.

[2022-08-07 04:30] odashi commented on #374
I'd appreciate if we have follows:

- The definition list of technical terms in `doc/glossary.md`.
- Use defined terms everywhere in this repository (discussions, code, and so on)

Since the technical term are often used as a class names, it would be better to introduce some constraint of naming rules (e.g., CapitalCase).

Anyway, I will prepare a collaborative document to collect the terms. Once

[2022-08-07 04:52] pfliu-nlp commented on #374
Sounds good.

[2022-08-07 11:52] neubig opened #376 "[RFC] Contributor guide/contribution policy"
Hi everyone, maybe especially @odashi and @pfliu-nlp: I'm thinking that we might want to make a more complete contribution guide with the dual goal of:
1. Making it easier for people other than the ExplainaBoard core developers to make significant contributions
2. At the same time making sure that contributions to ExplainaBoard are high quality and reliable

I was looking around at various contrib

[2022-08-07 13:25] odashi commented on #376
@neubig Readability review is good. Actually I was holding C++ and Python readability obtained during my past work and maybe I can provide similar responsibility for this repository.

Are you also intending to apply the same process for external contributors? The readability review is good for improving code quality, but at the same time it is somewhat tough to apply. I think it is still good to a

[2022-08-07 13:56] neubig commented on #376
I think that initially it'd probably be good to treat non-core members and core members equally from the point of view of review policies. We could revisit that decision if it becomes too much of a burden though.

[2022-08-07 14:27] pfliu-nlp commented on #376
The idea of the `readability review` looks good to me.

Regarding the contribution guide, sharing another good example:
* Taichi
    * https://github.com/taichi-dev/taichi/blob/master/CONTRIBUTING.md
    * https://docs.taichi-lang.org/docs/contributor_guide

[2022-08-12 18:22] neubig opened #382 "SysOutputInfo.write_to_directory() doesn't create directory"
SysOutputInfo.write_to_directory() is useful for writing out the results of an analysis. However, if the directory doesn't exist it isn't created automatically, which is a bit annoying.

[2022-08-15 18:15] odashi commented on #376
@neubig How's this going on? Especially the review process could be changed immediately, while fixing the contribution policy may need more discussion.

[2022-08-15 18:32] neubig commented on #376
I think we all agree on changing the review process to add code style review, so why don't we go ahead and do that. We should document it somewhere as well.

[2022-08-15 21:30] odashi commented on #376
It also requires to add some mechanisms to block undesired pushes. Requiring CODEOWNERS review may be suitable I guess.

[2022-08-15 21:55] odashi opened #385 "Replacing structured types with datatype"
Several functions use NumPy's structured arrays. I thought it is better to replace them to dataclasses for several reasons:

- It is basically not informative to users to know what members are contained in the array since the array does not provide static type information (i.e., users can't comprehend the behavior by seeing the function signatures). Unfortunately we couldn't expect that structured

[2022-08-18 00:42] neubig commented on #376
Sounds good. I don't immediately have an example of a CODEOWNERS file, so if you wouldn't mind sending a PR adding one appropriately that'd be appreciated. I could also figure it out when I have a moment though.

[2022-08-18 19:25] pfliu-nlp opened #388 "Organizing Existing Customized Functionality"
Below is an organization of existing customized functionalities of ExplainaBoard SDK.
Something could be discussed:
* Should we disable 2? (the downside is users with customized datasets couldn't define customized features.
* Regarding 4, what would be a good way to introduce customized functions?

## 1. Customized Dataset
* users are allowed to analyze their system outputs on their customized dat

[2022-08-19 12:58] neubig commented on #376
I created a draft of a minimalist design document template for ExplainaBoard: https://docs.google.com/document/d/1g-wEXaMxqe-1QFM-qrgJ41-MoCPuoT9fLutg5jk-NgE/edit#

Any comments are welcome!

[2022-08-19 15:45] neubig commented on #388
Thanks @pfliu-nlp ! I created a design doc outlining some of the user stories we need to consider and some design options, let's discuss: https://docs.google.com/document/d/1lX74OrTWEjQT3A6RSandRMNKVjvfaqu-ZVl68sj17oE/edit#heading=h.8fkcz262b48a

[2022-08-21 11:48] neubig opened #390 "Consider standardizing to GNU CLI option format"
From @odashi on a PR: https://github.com/neulab/ExplainaBoard/pull/384

[2022-08-22 22:55] pfliu-nlp opened #391 "Implemented Significance Test"
We already have this feature in ExplainaBoard Web, we could potentially include it here.
Relevant discussion: https://github.com/neulab/explainaboard_web/pull/259

[2022-08-23 08:35] tetsuok opened #392 "Enable squash merging by default"
Currently, when merging pull request, "Allow merge commits" is used. That makes commit history unnecessary long when pull request contains multiple commits, sometimes uninteresting commits. More importantly, merged commits makes harder to revert afterward. Enabling "Allow squash merging" in the settings avoids these issues.

Steps to enable squash merging are described as follows:

1. Go to https:

[2022-08-23 08:36] tetsuok commented on #392
@neubig would you consider changing the way to merge pull requests as documented above?

[2022-08-23 10:22] neubig commented on #392
Yes, and done!

[2022-08-23 10:22] #392 closed

[2022-08-24 00:00] odashi opened #398 "Fixing naming convention of test code files"
Context:
https://github.com/neulab/ExplainaBoard/pull/396

This issue seems to be also a part of the contribution guideline:
https://github.com/neulab/ExplainaBoard/issues/376

We have currently two options for this convention:

* `test_<name>.<ext>`: `unittest`'s default convention.
* `<name>_test.<ext>`: unit tests have the same prefix name with its target.

[2022-08-24 00:02] odashi commented on #398
@lyuyangh @tetsuok @neubig @pfliu-nlp Put comments if any.

[2022-08-24 00:05] odashi commented on #398
I don't have strong opinions, but I've basically worked with the second option for a long time.

[2022-08-24 00:09] tetsuok commented on #398
I don't have strong opinions about the naming conventions. I'm fine either way as long as some automation can detect filenames that don't follow the naming conventions in CI. For example, if we agree with using the second option, the CI system needs to detect and report files that use the first option.

[2022-08-24 15:02] odashi opened #404 "Consolidating docstring format"
Docstrings are sometimes written and sometimes not in this repository. There are also multiple styles applied to each docstring (reST style, Google style, and something else). To avoid this confusion, we need to decide some writing policy about docstrings.
Specifically, I realized we need to discuss at least:

- when we have to add docstrings
- which style is applied
- how to check docstrings

[2022-08-24 15:05] odashi commented on #404
My opinion:

* when: at least every public class/function definitions that are used from other part of the codebase.
* style: No strong opinions, but I like Google's style because of its high readability.
* checking: There is a flake8 plugin https://pypi.org/project/flake8-docstrings/

[2022-08-24 20:12] odashi commented on #398
Created #405 to apply several changes.

[2022-08-25 13:41] odashi commented on #398
@tetsuok

It would be great if we have it, but I guess this also looks too much and it is actually hard to detect appropriately. E.g., imagine that we have `test_utils.py` that provides only utilities for testing but no any test cases.

[2022-08-25 15:48] odashi commented on #398
As in #405 we are now using `*_test` format. Let me close this issue.

[2022-08-25 15:48] #398 closed

[2022-08-26 15:27] tetsuok opened #410 "Warnings on bucket analysis in integration tests"
Currently, running integration tests show 95 warnings on "bucket analysis". Below is a sample output in `cli_test.CLITest`:

[code]

If these warnings are not actionable nor critical, these warnings need to be turned off completely. In general, warnings needs to be actionable for users to indicate required actions to be taken. Otherwise, users would ignore them at all. In addition, leaving non-cri

[2022-08-26 15:35] neubig commented on #410
Thanks! This is because these are training-set dependent features, but no training set is available.

I don't think this warning should be disabled entirely (because it can also be indicative of a bug or misconfiguration), but we can have a check specifically regarding training set dependent features and disable the warning in this case.

[2022-08-26 15:46] tetsuok commented on #410
Oh, I'm suggesting disabling warnings in tests, not at the module level. If these warnings can be fixed, I'd love to fix them.

[2022-08-26 16:36] #390 closed

[2022-08-27 03:18] pfliu-nlp opened #411 "Customized feature through config file cannot work"
Customized feature through [config file](https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/resources/dataset_custom_features.json) cannot work

[2022-08-27 06:04] pfliu-nlp commented on #411
this should be fixed in this commit: https://github.com/neulab/ExplainaBoard/pull/409/commits/18eecf2870e5a982f41f2c39c244be3feb2e60c9

[2022-08-27 11:06] odashi commented on #410
I think this behavior should be treated as an error, and the code have an explicit flag to control whether to rely on training-only feature or not. In most cases warnings are never useful since it behaves as just postponing exposure of potential bugs.

These features should have `require_training_set` flag that can be used to check the behavior.
https://github.com/neulab/ExplainaBoard/blob/84168a1

[2022-08-27 11:15] odashi commented on #404
RFC: @neubig @pfliu-nlp @tetsuok

[2022-08-27 11:52] neubig commented on #404
* when: "at least every public class/function definitions that are used from other part of the codebase" sounds good to me
* style: I slightly prefer reST because it's marginally easier to write by hand, but also no strong preference
* checking: flake8 sounds great

[2022-08-27 14:39] pfliu-nlp commented on #404
style:  I actually like `Google's style` since it's more intuitive, but I'm fine with reST if it could bring additional advantages.

[2022-08-27 20:11] odashi commented on #404
The most significant difference between reST and Google styles is whether type information can be specified or not (`type` and `rtype` in reST), which was useful when Python didn't have any syntax of typing. Since we have type hints for the function signatures, this feature is probably outdated.
Google style guide also provides more fine-grained sections that are rarely used (such as `See Also:`)

[2022-08-27 20:16] neubig commented on #404
OK, I'm happy to go with Google style, let's do it. Hopefully the conversion can be done automatically.

[2022-08-27 21:07] #382 closed

[2022-08-28 02:27] odashi opened #412 "Data depending on personal website"
Several files necessary to make the library work are downloaded from @neubig 's website by default.

https://github.com/neulab/ExplainaBoard/search?q=phontron.com

This causes hermeticity problem of the library so it is better to import all of them into the repository.

[2022-08-28 02:32] tetsuok commented on #404
I don't have a strong opinion on this. I have been using Google style for a long time because it was easier to remember the format, though. I personally felt that the Google style was a bit easier to explain and to adopt the Google style for folks who aren't familiar with writing docstrings itself and reStructuredText (probably, the style guide also helped the adoption).

[2022-08-28 19:29] odashi commented on #404
According to the discussion, we'd like to use Google's style. I'd prepare some pull requests to constrain it.

[2022-08-28 20:14] odashi opened #414 "Use poetry for package management"
Context: #394

If there's no opposite opinions, we could introduce poetry as our package manager in this repository.

We need to take following tasks:

- [ ] Use poetry to run CIs.
- [ ] Use poetry to make a new release.

[2022-08-29 06:43] odashi commented on #173
I found that the current setup script runs the model installation regardless of the given command of setup.py (i.e., other commands than `install` *installs the spacy model*). This seems to be unintended behavior.

[2022-08-29 06:56] odashi commented on #410
Recently I met a runtime error around this: the test raise errors when I fixed a typing issues (skipped analysis returns None, but None was not treated appropriately by the caller). I think raising an error instead of a warning also makes the code flow simpler because we guarantee that the analysis always returns results.

[2022-08-29 14:57] neubig opened #416 "Text pair classification fails with some DataLab datasets"
Text pair classification won't work for some DataLab datasets, probably because vocabulary tabulation fails when the name of the first and second textual columns are not `text1` and `text2` (e.g. they may be `premise` and `hypothesis` for NLI). For example, we run the folllowing command:

[code]

With the attached system output.
[paws-fra.json.zip](https://github.com/neulab/ExplainaBoard/files/944

[2022-08-29 19:25] neubig commented on #416
@pfliu-nlp: quick technical question regarding DataLab to solve this issue.

The problem is here: https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/processors/text_pair_classification.py#L140

Instead of using "text1" we want to use the `text1_column` from the dataset in datalab: https://github.com/ExpressAI/DataLab/blob/main/datasets/xtreme/xtreme.py#L566

Do you have a simple way o

[2022-08-29 19:36] pfliu-nlp commented on #416
@neubig That's a good question; I'm thinking now...

[2022-08-29 20:04] neubig commented on #416
Thanks! I'd say it's not urgent but high-priority (it will block the upgrade of the `eb_web` database). I think it'd be better to do the fix (2), I'll also think about how to do it.

[2022-08-29 21:49] neubig opened #417 "Implement CalibrationAnalysis"
Calibration is whether a system's confidence is well-correlated with whether the system got the answer right or not. It would be nice if we could do analyses related to calibration, such as calculating expected calibration error: https://arxiv.org/abs/1706.04599

I think this should probably be implemented as an additional variety of analysis, which would be simple and self-contained: https://gith

[2022-08-29 22:02] pfliu-nlp commented on #417
@neubig, this is also one feature I have been expecting.  The only complicated thing is we need `probability` as an additional feature.
We probably can have some rules like this: if a system output file from a classification task contains the feature of `probability`, then the processor will conduct calibration adaptively, (kinda similar to training set dependent features)

[2022-08-29 22:05] neubig commented on #417
At the moment, if an analysis is not applicable it returns `None`, so we could do a similar thing here.

[2022-08-29 22:34] pfliu-nlp commented on #417
Yes, I noticed that. But this also will result in potential bugs when deploying the web platforms, which I have debugged for a pretty long time.
It's a potential schema validation bug that will happen here: https://github.com/neulab/explainaboard_web/blob/c711cf8277c4f19d0c12e18b008b7ec2b8779d00/backend/src/impl/default_controllers_impl.py#L447

[2022-08-29 22:57] neubig commented on #417
I don't think returning `None` is necessarily a bad thing if we know it's expected behavior. But we could definitely discuss ways to rectify this if it's a problem.

[2022-08-30 00:52] odashi commented on #410
Created #418 to provide a better control, but it still intentionally produces warnings.

[2022-08-30 04:55] odashi commented on #417
I just created #418 around the topic of `None`.

Basically I think `None` is not informative as it provides no fine-grained information, and users have no control in case of invalid operations. I prefer either:

- raising appropriate exceptions to inform appropriate information outside the process.
- Using the `Result` semantics (adopted in some other languages, such as [Rust](https://doc.rust-lan

[2022-08-30 05:16] odashi commented on #417
I think it is better that `None` is used to inform only *no information*. If there are some information that are useful to inform externally, it is good to adopt either way described above.

[2022-08-30 13:40] tetsuok opened #419 "Migrate existing registry implementations to TypeRegistry"
# Description

This issue is an umbrella issue list up the existing registry implementations and use cases for migrating to `TypeRegistry` in `explainaboard/serialization/registry.py`.

- [ ] Migrate metrics registry to TypeRegistry
- [ ] Migrate loader registry to TypeRegistry
- [ ] Migrate processor registry to TypeRegistry
- [ ] Migrate feature registry to TypeRegistry

[2022-08-30 13:42] tetsuok opened #420 "Migrate metrics registry to TypeRegistry"
This is a sub-task to migrate metrics registry to TypeRegistry.

file: explainaboard/metrics/registry.py
symbols: register_metric_config get_metric_config_class metric_config_from_dict

List of files to use the symbols:

[code]

[2022-08-30 13:44] tetsuok opened #421 "Migrate loader registry to TypeRegistry"
This is a sub-task to migrate loader registry to TypeRegistry.

file: explainaboard/loaders/loader_registry.py
symbols: get_loader_class register_loader

List of files to use the symbols:

[code]

[2022-08-30 13:45] tetsuok opened #422 "Migrate processor registry to TypeRegistry"
This is a sub-task to migrate processor registry to TypeRegistry.

file: explainaboard/processors/processor_registry.py
symbols: get_processor register_processor get_metric_list_for_processor

List of files to use the symbols:

[code]

[2022-08-30 13:47] tetsuok opened #423 "Migrate feature registry to TypeRegistry"
file: explainaboard/analysis/feature.py
symbols: FeatureType.from_dict Sequence.from_dict Dict.from_dict Position.from_dict Value.from_dict

List of files to use the symbols:
[code]

[2022-08-30 14:23] pfliu-nlp opened #424 "Support OpenIE task"
It would be nice if ExplainaBoard could support OpenIE task, where
* evaluation is a pain point, e.g., which metric is more reliable
* the formats of system output files are very plentiful

Challenges
* know the general schema of training data
* support different formats of system outputs
* implement evaluation metrics

[2022-08-30 16:01] #420 closed

[2022-08-30 16:10] tetsuok opened #426 "Use serialization subpackage for serialization and deserialization"
# Description

This is an umbrella issue to track the migrations of existing implementations for serialization and deserialization. Currently, many classes implement their own serialization or deserialization functionality. The goal is to use APIs for serialization and deserialization in the [serialization subpackage](https://github.com/neulab/ExplainaBoard/tree/main/explainaboard/serialization) s

[2022-08-30 16:19] tetsuok opened #427 "Use SerializableDataclass to serialize and deserialize MetricConfig objects"
This is a sub-task to switch the implementation of serialization and deserialization of objects of MetricConfig and its derived classes.

[2022-08-31 15:24] neubig opened #431 "`bucket_interval` is type-ambiguous"
Currently `bucket_interval` is ambiguous in its typing, which is basically `tuple[float,float] | type[str,]` where the former is used for continuous values and latter is used for discrete values.
https://github.com/neulab/ExplainaBoard/blame/main/explainaboard/analysis/performance.py#L11

We should probably change to the following:
[code]

[2022-08-31 15:57] odashi commented on #431
I think `AnalysisCaseCollection`'s one should also be fixed:
https://github.com/neulab/ExplainaBoard/blob/6a85d3c51fd1f8eca8ddfdcba11d59181a183781/explainaboard/analysis/case.py#L89

[2022-09-02 18:38] neubig opened #438 "Loader could have streaming option"
Currently `Loader` only loads the entire dataset into memory all at once. This might not be ideal for very large datasets.

It wouldn't be too hard to add a streaming option by modifying these lines to `zip` and `yield`: https://github.com/neulab/ExplainaBoard/blob/08b0665e32d970c125acdbc46e28d31c94f1a38b/explainaboard/loaders/loader.py#L148-L151

But this would also require checking throughout th

[2022-09-02 20:06] noelchen90 opened #439 "ModuleNotFoundError: No module named 'explainaboard.metrics.auxiliary'"
I encountered this error while running
[code]

The traceback:
[code]

[2022-09-02 20:13] noelchen90 commented on #439
Problem can be solved by adding a `__init__.py` file under `explainaboard/metrics/auxiliary/`

But the following error occured while I was trying to run `git commit`
[code]

[2022-09-02 20:23] neubig commented on #439
Thanks so much! Can you please send a PR?

[2022-09-02 20:46] noelchen90 commented on #439
@neubig Yes I filed a PR! But there is some error that doesn't pass the CI test. I have asked @pfliu-nlp to assist me.

[2022-09-02 21:35] #431 closed

[2022-09-03 01:09] #439 closed

[2022-09-03 01:51] pfliu-nlp opened #441 "Bug: the calculation of metric stat for generation tasks"
The calculation of metric stats for generation tasks assumes all metrics are eaas style, which is not true. For example: `ExternalEvalConfig`

https://github.com/neulab/ExplainaBoard/blob/7619c56593f6b14e1a3928e7b433f1db7ff0ba68/explainaboard/processors/conditional_generation.py#L294

[2022-09-03 01:55] pfliu-nlp commented on #441
It seems that we have a corresponding implementation: https://github.com/neulab/ExplainaBoard/blob/b9fe82ac8bb710b09ca0d0eaeadfe53f570db688/explainaboard/processors/conditional_generation.py#L327
maybe it's missed due to some merged conflicts.

[2022-09-03 04:42] pfliu-nlp opened #444 "Bug: serialization failed for `EaaSMetricConfig`"
See following errors
![image](https://user-images.githubusercontent.com/59123869/188256027-cd4ec351-5973-45b2-a923-3e92eab1afea.png)

#### Potential Reason:

EaaSMetric hasn't been registered as others intendedly, which will result in an error due to: https://github.com/neulab/ExplainaBoard/blob/98d79c976884eee3fbd2a2b1cf76dae4789d9ae3/explainaboard/serialization/serializers.py#L94

hi @odashi I w

[2022-09-03 04:47] odashi commented on #444
@pfliu-nlp Thanks for sharing. Could you upload error texts instead of screenshots so that we can easily copy it to the local client to investigate it?

[2022-09-03 04:49] pfliu-nlp commented on #444
No problem.

[code]

[2022-09-03 04:59] odashi commented on #444
This was introduced in [this change](https://github.com/neulab/ExplainaBoard/commit/fa2327df855762fb781eb9d555bbe6253f4381a4#diff-9028c579ce074251460b09bf7303e331cf8091e0167da2175aa62a2803962c0aL68) that intentionally avoids EaaSMetricConfig to sophisticate the API structure. Since we finished several refactoring, I think we can safely restore the registry entry for EaaSMetric. I will create a pul

[2022-09-03 05:05] pfliu-nlp commented on #444
Sounds great!

[2022-09-03 06:50] odashi opened #446 "Centralized type registry"
Currently we have several registry instances in the repository. Some of them are implemented as `TypeRegistry` that require objects not to self-serialize inner objects, and it can't serialize nested objects that are registered in different registries.

I think introducing a unified type registry that covers all types could be the solution of this problem, and it also avoids multiple registry defin

[2022-09-03 10:59] #416 closed

[2022-09-03 13:53] #444 closed

[2022-09-03 17:32] pfliu-nlp opened #447 "Support Text-to-SQL task"
Text-to-SQL is a quite popular task, with typical datasets like [Spider](https://arxiv.org/pdf/1809.08887.pdf). It would be nice if we could have it.

@shuaichenchang  and I will work on this.

[2022-09-03 17:51] odashi commented on #444
@pfliu-nlp Is it working now?

[2022-09-05 04:21] tetsuok commented on #446
The proposed solution looks good to me. I think we need to document the naming convention so that the convention is easy to understand and follow. If we can set up static analysis or some sort of unit tests to automatically check the convention in pull requests, that's best.

[2022-09-05 06:08] odashi commented on #446
Still RFC: @neubig @pfliu-nlp

[2022-09-05 07:16] odashi opened #449 "Errors around Datalabs"
Encountered following test errors just a minutes ago. @pfliu-nlp

[code]

[2022-09-05 10:40] neubig commented on #446
That basically seems fine to me.

One alternative to `core` would be `explainaboard`, as that would be the thing that they would actually write in an `import` statement. It's a bit more verbose though, so I don't have a strong preference either way.

[2022-09-05 13:09] neubig commented on #376
I got two references from my friend about supporting new developers in open source communities:
* https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1007296
* https://www.ime.usp.br/~gerosa/papers/CSCW_2015.pdf
* https://ieeexplore.ieee.org/abstract/document/1631952

[2022-09-05 14:26] pfliu-nlp commented on #449
I will take a look

[2022-09-05 14:41] neubig commented on #441
Fixed by https://github.com/neulab/ExplainaBoard/pull/442

[2022-09-05 14:51] pfliu-nlp commented on #449
Hi, @odashi could you check along following steps:

(1) check the version of datalabs first: `pip show dastalabs`
these two tasks are supported by datalabs >= 0.4.9

(2) check if the dataset from`argument_pair_extraction` could be loaded locally
[code]
If yes, I think (3) should work.

(3)
[code]

[2022-09-06 02:13] odashi commented on #449
@pfliu-nlp Thanks, it looks the tests now works as expected. Let me close this issue.

It seems to cause a versioning problem (also discussed in #403): ExplainaBoard cannot add datalab-specific tasks without upgrading the library and code.

Since you are leading Datalab, I think you may also need to introduce some version agnostic way to manage supported tasks in that library.

[2022-09-06 02:13] #449 closed

[2022-09-06 02:25] pfliu-nlp commented on #449
this is a good question. I have created an issue and will think about it.

[2022-09-06 03:58] OscarWang114 opened #453 "Saving `is_training_set_available` in `sys_info` during `get_overall_statistics()`"
Although this issue occurs in the web interface. I'm writing it here as it's mainly SDK-related.

### Problem
#### In the web interface:
[code]

#### In SDK:
The function `_gen_cases_and_stats()` in `conditional_generation.py` (called by `processor.py`’s `get_overall_statistics()`) skips saving `require_training_set=True` example-level features. However, these skipped feature names are saved in `s

[2022-09-06 14:17] pfliu-nlp opened #455 "How to name metrics when registering them"
There are two ways to name metrics

(1)
[code]

(2)
[code]

Currently, we are using (1), which, however, is inconsistent with how the Processor names them. For example:

https://github.com/neulab/ExplainaBoard/blob/cd54c1b61e490295db8c1cfee8460aff4cce1880/explainaboard/processors/text_classification.py#L132

Which one do you prefer?

If we go with (2), this code should be modified to avoid naming

[2022-09-06 21:32] odashi commented on #455
(1) and (2) were historically used at the same time, and (2) is removed by #400 to avoid ambiguity. I think which option (or even other naming convention) is okay so long as it has no ambiguity.

[2022-09-06 22:07] pfliu-nlp commented on #455
thanks @odashi
The truth is when I used

[code]

there will be an error, since the following function `metric_config_from_dict` will pass `AccuracyConfig` to
https://github.com/neulab/ExplainaBoard/blob/cd54c1b61e490295db8c1cfee8460aff4cce1880/explainaboard/metrics/registry.py#L11

`metric_config_registry.get_type`, and `AccuracyConfig` hasn't been registered.

https://github.com/neulab/ExplainaBo

[2022-09-06 23:33] odashi commented on #453
@OscarWang114 Thanks for reporting the issue!

First, could `skip_failed_analyses=True` in `Processor.process` be a quick fix, or does not it satisfy the use case?

I also agree with having more specific control around feature groups (in this case, train-only or not). Is the flag name just `is_trainint_set` rather than `is_training_set_available`?

[2022-09-06 23:36] odashi commented on #455
@pfliu-nlp Almost expected. If we registered the class as `Accuracy`, all config files need to follow the name `Accuracy`, and `AccuracyConfig` shouldn't work.

[2022-09-06 23:38] OscarWang114 commented on #453
@odashi Thanks! Yes,`skip_failed_analyses=True` is a valid quick fix; I updated the issue description. And thanks for catching the typo (also updated).

[2022-09-06 23:44] odashi commented on #455
The `name` parameter of `MetricConfig` is independent from the registered class name; it is sometimes used to give a unique name for each metric with the same class (e.g., "Hits1", "Hits2", ...). If we gave `name="Accuracy"`, the class name in the registry is still `"AccuracyConfig"`.

[2022-09-07 23:54] odashi commented on #455
@pfliu-nlp This is expected because all JSON in this repository contains `XConfig` rather than `X`. We don't synthesize the registered namy by code (as long as I understand). Current implementation you mentioned does only copying the registered name from dict, which is basically loaded from JSON.

There is another issue to reconsider registered names #446 , so it seems this topic needs to be discu

[2022-09-08 00:03] odashi commented on #455
@pfliu-nlp

This is because the registry hosts MetricConfig, not Metric.

[2022-09-08 08:31] tetsuok commented on #419
Moving to @odashi.

[2022-09-08 08:32] tetsuok commented on #426
Moving to @odashi.

[2022-09-08 22:14] qjiang002 opened #458 "Add documentation for uploading custom features and custom analysis"
Add example json output files containing custom features and custom analysis settings

[2022-09-09 12:13] neubig commented on #455
Thanks for the discussion! Regarding this:

Actually, this naming convention for metric names is just a general trend (because it makes sense), not a rule. For example, here is a counter-example, where we have different names for `Hits` metrics with different parameters: https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/processors/kg_link_tail_prediction.py#L120

Because of this, I'd

[2022-09-09 12:17] neubig opened #463 "Data hosting for APE task is unstable"
Currently our integration test for the ArgumentPairExtraction task is failing, probably because the server hosting the data is unstable. @pfliu-nlp would you be able to take a look at this and maybe move the data to a more stable hosting location?

[code]

[2022-09-09 12:40] odashi commented on #463
This seems to happen by the same cause with #412 that should be fixed similarly.

[2022-09-09 12:40] #412 closed

[2022-09-09 14:09] pfliu-nlp commented on #463
This should be fixed by this PR: https://github.com/ExpressAI/DataLab/pull/344

[2022-09-09 14:09] #463 closed

[2022-09-09 14:11] neubig commented on #463
Thank you!

[2022-09-09 15:19] pfliu-nlp opened #464 "Document how to add customized features through the JSON config file"
When we define customized features through a [config file](https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/resources/dataset_custom_features.json), we usually need to specify the value of some keywords, such as  `cls_name` and `dtype`, which should be documented.

[2022-09-09 19:29] pfliu-nlp opened #465 "Document how custom dataset should be formatted"
Currently, we don't describe how custom datasets (for example: [this](https://github.com/neulab/ExplainaBoard/blob/main/docs/task_argument_pair_extraction.md)) should be organized in the doc that describes each task's analysis setup.

[2022-09-09 23:45] #423 closed

[2022-09-10 00:02] odashi opened #466 "Concrete data type"
`FeatureType`s have the `dtype` member, which specifies the data type of corresponding data. However, this value is represented as `str` and it is unclear that what kind of values are valid for this member. Particularly, we need to:

- Make a reference of valid dtype values. It should be either (1) defined by ourselves (in this repository), or (2) borrowed from other software.
- Make a mechanism t

[2022-09-10 00:27] odashi commented on #446
I'm planning to apply this change after the all manual serialization was replaced by the `serialization` subpackage.

[2022-09-10 00:42] odashi opened #467 "Avoid serializing functions"
Current serialization attempt to serialize functions via `inspect.getsource`:
https://github.com/neulab/ExplainaBoard/blob/df48ff1792bd912087ba644cae695181e6f26e67/explainaboard/serialization/legacy.py#L26
However, this function supports only limited cases: given callables have to be represented as a substantial source, and builtin/synthesized functions can't be supported. Basically we don't have

[2022-09-10 01:23] neubig commented on #466
Yeah, this definitely seems reasonable to me. An `Enum` seems reasonable to me, but any other option sounds fine too.

[2022-09-10 01:27] neubig commented on #467
I think that's fine. This serialization was more for reference, and I never intended the code to be deserialized and used.

[2022-09-10 04:26] odashi commented on #466
Another problem is that JSON files involve different dtype definitions (one from ExplainaBoard, one from Datalab), which is a main source of confusion of my refactoring. We also need to consolidate them to just one type definition. I recommend not tot use Datalab's one and convert it to ExplainaBoard's data type once we loaded information from Datalab.

[2022-09-10 04:29] odashi commented on #467
Is there no utilization of this feature? If so we can just remove this.

[2022-09-10 14:28] neubig opened #471 "DataLab logging is too verbose in integration tests"
Currently DataLab logs the progress of downloads, which leads to extremely large integration test logs ([example](https://github.com/neulab/ExplainaBoard/runs/8280314965?check_suite_focus=true)). We should be able to turn this logging off, at least for tests.

Based on [this](https://github.com/ExpressAI/DataLab/blob/5b860649520397e9c56bca3422912b241b2fa5a3/datalabs/utils/file_utils.py#L539) and [

[2022-09-10 16:04] neubig opened #472 "Change to `~=` requirements"
Per the discussion here, we should be more rigorous in specifying the version numbers of the libraries that we depend on:
https://github.com/neulab/ExplainaBoard/pull/403#issuecomment-1242754774

[2022-09-11 00:33] neubig opened #473 "Two places where tokenization should be standardized"
In most places in ExplainaBoard, we use standardized tokenizers to tokenize the source and target texts. However, there are (at least) two places where we use other tokenizers.

First, `explainaboard/analysis/sum_attribute.py` uses the NLTK punkt tokenizer. This would be nice to remove because (1) it is non-standard for ExplainaBoard, (2) it's the only place where we use nltk so if we remove this

[2022-09-11 14:39] tetsuok commented on #471
I think it makes more sense to fix the logic in `http_get` so that we can suppress progress message when the verbosity (the log level) is severe than `logging.INFO` as well.

[2022-09-11 15:24] neubig commented on #471
Yeah, I agree.

[2022-09-11 16:51] tetsuok commented on #471
Re-run integration tests with datalabs 0.4.11, but the issue still persists:
https://github.com/neulab/ExplainaBoard/runs/8293762905?check_suite_focus=true#step:5:467

[2022-09-12 03:06] pfliu-nlp commented on #455
thanks! Conclusion: `name the registered names of the metric configs to XConfig not just X`
closed this issue based on this PR: https://github.com/neulab/ExplainaBoard/pull/454

[2022-09-12 03:06] #455 closed

[2022-09-12 13:49] odashi commented on #473
@neubig Is there any consequences that we need to take care when the NLTK tokenizer has been removed? I agree with removing it though (for improving simplicity around data dependency).

[2022-09-12 13:55] neubig commented on #473
I don't think so. The NLTK tokenizer is only used in that one file, everywhere else we already use different tokenizers that achieve very similar results (e.g. the SacreBLEU tokenizer).

[2022-09-12 14:13] odashi opened #477 "Decompose MetricResult"
`MetricResult` has several information that are basically independent each other:

- A "value" with unspecified meaning.
- A confidence interval of "value"
- An agreement "value" (comes from `AuxiliaryMetricResult` which is used only to store Fleiss' Kappa).

Especially, there is an ambiguity between the "value" and auxiliary scores: we don't have any consensus to decide which number is "the value

[2022-09-12 14:46] tetsuok opened #478 "test_generate_system_analysis in integration_tests.summarization_test.SummarizationTest is too slow"
commit 8c514c3d81a079d967d208f8bc330c2f202620bb (#437) increases the execution time of `integration_tests.summarization_test.SummarizationTest`. When I measured on my GCP VM, the time of the test increased by 430 seconds (from 6 seconds to 436 seconds), which is too slow to run as automated tests in pull requests. Slow tests need to be removed or replaced with more focused and fast tests. In gener

[2022-09-12 14:47] tetsuok commented on #478
RFC: @odashi @neubig @pfliu-nlp

[2022-09-12 14:59] odashi commented on #478
Yes it is not negligible amount of degradation that should be fixed.

I also think the current integration tests are basically harmful for rapid development because many of them require to download large amount of data from the Internet. I think we have to:

- Separate these tests to other toolchain
- Separate data-specific code (i.e., avoid hard-coded URLs and make all of them additional paramete

[2022-09-12 16:56] pfliu-nlp opened #479 "We need a doc on how to perform unit/integration tests"

[2022-09-12 16:58] pfliu-nlp opened #480 "We need documents to introduce how to fix different types of CI Errors"

[2022-09-12 17:07] #471 closed

[2022-09-12 20:25] pfliu-nlp commented on #478
@tetsuok
Thanks. I also have the same feeling and strongly think that we need to re-organize existing integration tests, remove or skip or slim existing them.
(BTW, the reason why some of the existing tests cost too much is that testing training-set dependent features require loading the whole training set. But we probably could add some dummy dataset in DataLab.)

[2022-09-12 20:35] pfliu-nlp commented on #477
@odashi thanks for bringing this up!
I think it's a pretty elegant idea. When I tried to add the variable `agreement` I kinda feel that the `value` is not enough to use. We always have many statistical numbers (values) to be put in MetricResult.

One only concern is it will affect the DB schema a little bit.

[2022-09-12 20:41] neubig commented on #477
This seems like a good idea overall!

There's always a tradeoff between defining things in classes (less flexible but less error-prone) or representing them as dictionaries (more flexible but more error-prone). It seems warranted in this case though, we'll just need to be careful to write unit tests to make sure that the metrics we implement generate things in the right format.

[2022-09-12 20:53] OscarWang114 opened #482 "`value` should be set to `None` under empty buckets"
As mentioned in #476, `value` should be set to `None` under empty buckets. This requires a fix on both SDK and the web interface.

[2022-09-13 02:18] #404 closed

[2022-09-13 02:20] odashi commented on #478
@pfliu-nlp Having heavy tests is not bad if we really need them to achieve better quality, but they should be installed on separate space to prevent unnecessary burden. I think it may be better to set up some independent place to continuously run these heavy tests.

[2022-09-13 02:37] neubig commented on #478
As a quick solution, I wonder if it'd be possible to set up the heavy tests to run only when we update `version.py`?

[2022-09-13 05:02] odashi commented on #477
Applying this design also means that we no longer guarantee that every metric returns a specific entry (e.g., some metric may not generate "value" or "score").

In the future, I think it is also needed to introduce some interface to specify the representative key for a particular analysis. It would be good if we treat analyses on score/Ci/agreement equally, and avoid any hard-coded keys in the cod

[2022-09-13 09:01] odashi commented on #482
Maybe this issue will be resolved if we applied #477 and skip generating results for empty buckets.

[2022-09-13 09:14] odashi commented on #478
@neubig I can set up some independent CI using our infrastructure. It is not so difficult to configure I think.

Though I thought it is too optimistic, it can also be configured.

(related to this topic, recently I and @tetsuok discussed about versioning of this repository) @tetsuok

[2022-09-13 10:51] tetsuok commented on #478
Version for a Python package needs to be defined in a single place. (DataLab defines versions in two places)

[2022-09-13 11:13] tetsuok opened #485 "Publish package to PyPI on push tags"
Currently, a GitHub action to push ExplainaBoard to PyPI is triggered on push commit to `main` if some change is maded in `version.py` (regardless of version change). This approach is not reliable because it is possible to add comments or more code to `version.py`. In fact, #415 added docstrng to `version.py` which accidentally triggered the CI, and CI failed because the version didn't change.

It

[2022-09-13 12:21] neubig commented on #485
This sounds good to me, as long as we can realize the following:

One reason why this is automated now (instead of using tags) is that in my previous experience I used tags for releases but it was error prone to need to update the code *and* the tag manually, and one was often forgotten.

[2022-09-13 13:26] odashi opened #490 "Use setup.cfg to store every setup config"
Current `setup.py` follows a legacy pattern: writing settings in the code. Recent versions of setuptools supports to store most configs into `setup.cfg`, and we don't need writing setup "script" anymore.
This can avoid some complicated issues (typically circular imports) around `__version__`. `setup.cfg` can import/evaluate version file without any effects against code base.

The only issue here i

[2022-09-13 13:30] odashi commented on #478
Correct versioning may require to follow the newest practice around `setup.py`. Created another issue: #490

@tetsuok Maybe you can work with #490 first.

[2022-09-13 13:57] tetsuok commented on #478
@odashi Sure.

[2022-09-13 14:02] tetsuok commented on #490
@odashi I guess [setuptools](https://setuptools.pypa.io/en/latest/userguide/declarative_config.html)? It seems like distutils is [deprecated](https://docs.python.org/3/whatsnew/3.10.html#distutils).

[2022-09-13 19:44] OscarWang114 commented on #477
SGTM as well! I think the web interface is quite adaptable to this change.

I also like the idea of introducing representative keys, which the web interface potentially uses to avoid hard-coding as well.

[2022-09-14 10:56] odashi opened #491 "Remove MetricConfig and directly store configs in Metric"
`Metric` is instantiated by appropriate `MetricConfig`. This strategy is used only in `Metric` and any other classes are instantiated by directly calling `__init__` with specific arguments. This special architecture around `Metric` actually causes some confusion (e.g., #455).
This separation also requires explicit circular dependency: `Metric` holds `MetricConfig`, while `MetricConfig` knows corre

[2022-09-14 12:09] odashi commented on #485
Some techniques used by other libraries is autogenerating version information from the tag: refers the tag string, and if it is formed as a version number, copy it to _version.py and publish the library with it.
There is a tool to refer information in the version control system during setup, which is used in other projects (e.g., Black)

https://pypi.org/project/setuptools-scm/

[2022-09-14 13:20] qjiang002 commented on #458
Solved in [this PR](https://github.com/neulab/ExplainaBoard/pull/459)

[2022-09-14 13:20] #458 closed

[2022-09-14 13:21] odashi commented on #491
`MetricConfig` is stored in `MetricResult` too, but it seems this information is not necessarily required. There is also `Performance` that has almost the same information with `MetricResult`, and the only difference is that it stores metric's name instead.
I think using `Performance` rather than `MetricResult` is sufficient. We can pass the original Metric with the corresponding `Performance` if

[2022-09-14 17:08] noelchen90 commented on #272
For Single System Analysis, I think we can add another "metric score" column in the table. In this case, it would be per bucket.
We can add a button to sort the scores ascending or descending. This allows users to see the best performing samples and worst performing samples.

[2022-09-16 15:19] noelchen90 commented on #84
@pfliu-nlp Do you know where I can find this markdown https://github.com/neulab/ExplainaBoard/blob/main/docs/supported_tasks.md#summarization

[2022-09-16 15:39] pfliu-nlp commented on #84
Hi, @noelchen90
After several rounds of refactoring, I think this file has been removed.
This [file](https://github.com/neulab/ExplainaBoard/blob/main/docs/cli_interface.md) owns a similar feature (a list of supported tasks).
One idea to document metrics is to create a new markdown here: https://github.com/neulab/ExplainaBoard/tree/main/docs (supported_metrics.md for example) and describe them bas

[2022-09-16 15:43] pfliu-nlp commented on #84
I think maybe I would be a good fit to do this part, especially when detailing the differences between metrics.
So, if you're happy with this, then I will take this issue.

[2022-09-16 15:56] noelchen90 commented on #84
@pfliu-nlp OK, cool, fine by me!

[2022-09-18 11:41] neubig opened #495 "Test of analysis on open-domain QA"
There is a nice [PrimeQA framework](https://github.com/primeqa/primeqa) developed by IBM, and it seems that it should make it relatively easy to generate open-domain QA results from multiple SOTA models.

It would be nice if we could look into these results, analyze them with explainaboard, and see if there are any ways we could use them to improve our analysis of Open Domain QA models.

In order

[2022-09-18 14:54] #427 closed

[2022-09-18 20:21] odashi opened #496 "Increase the minimum sample size of bootstrapping"
TL;DR: increase the minimum sample size of bootstrapping to at least **1000**.

Confidence intervals are sometimes estimated from empirical distributions generated by bootstrapping. In `metric.py`, the sample size of each bootstrapping iteration is determined by the dataset size and the ratio `prop_samples`, and the minimum number of samples are currently settled to 1. In small datasets, the deter

[2022-09-18 20:41] #496 closed

[2022-09-19 14:08] odashi opened #497 "aggregate_stats and calc_metric_from_aggregate don't work in some cases."
`Metric.aggregate_stats` and `Metric.calc_metric_from_aggregate` does not guarantee that each implementation returns the ndarray with correct shape. These functions **must** return following arrays:

- `aggregate_stats` ... `[num_stats]` or `[num_batches, num_stats]`
- `calc_metric_from_aggregate` ... `[]` or `[num_batches]`

But several implementations does return other shapes, even the default i

[2022-09-19 17:27] odashi opened #498 "Separate batched/non-batched operations in Metric"
`Metric` is implemented for both batched/non-batched operations and it is very annoying to organize overall behavior around `Metric`. Most functions need to switch its behavior with given argument, and it looks some functions involves untested bugs with unclear operations (e.g., the caller expects to return ndarray of shape `[]`, but the function returns `[1]`).

It is better to implement `Metric`

[2022-09-19 20:37] noelchen90 commented on #272
@pfliu-nlp
After a discussion with @OscarWang114, we would like to bring up some confusions/discussions we had:
1. Is there a reason why we display only 50 examples [(in this line)](https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/analysis/analyses.py#L192)? Why not display all the examples in the bucket? Can't we load the 10 examples every time the user clicks on "previous" or "nex

[2022-09-21 00:12] qjiang002 commented on #417
Here are some draft ideas of implementing calibration analysis:
* When to perform calibration analysis: (1) classification tasks: text_classification, text_pair_classification, aspect_based_sentiment_classification, tabular_classification; (2) users provide both predicted labels and confidence values in the output file. Check that users provide confidence values in range [0, 1], not logits.
* Divi

[2022-09-21 00:30] neubig commented on #417
One comment: we may want to view a `CalibrationAnalysisResult` as either a subclass of a `BucketAnalysisResult`, or a `BucketAnalysisResult` with some auxiliary information (namely ECE and MCE). That would make it easy to, for example, display the calibration diagram using (nearly) the same code that we normally use for displaying buckets.

[2022-09-21 00:47] qjiang002 opened #500 "Custom Analysis Todo List"
## Custom features
Now users can specify custom features in either the [output json file](https://github.com/neulab/ExplainaBoard/blob/main/docs/add_custom_features.md) or a [global config file](https://github.com/neulab/ExplainaBoard/blob/main/explainaboard/resources/dataset_custom_features.json). Potential improvements are:
* Only json output file can support defining custom features and custom

[2022-09-21 05:28] odashi commented on #417
@neubig Subclassing should be used when they satisfy the is-a relationship. If we need only the same functionality, implementing separate code is better to organize the whole thing.

[2022-09-23 16:13] #497 closed

[2022-09-24 01:41] odashi commented on #500
@qjiang002 Good point. Moreover, the FileLoaderMetadata mechanism reads the entire output file to load the metadata, which is obviously redundant. Decoupling the metadata file from the output may also improve this efficiency.
https://github.com/neulab/ExplainaBoard/blob/37145588a75b34cc9b9f5feb82a76f23bf692c95/explainaboard/loaders/file_loader.py#L177

[2022-09-24 15:45] tetsuok commented on #491
@odashi I agree with the proposal and the potential changes. Removing the circular dependency seems a good idea to make things simpler.

[2022-09-25 16:52] odashi commented on #473
@neubig There are utilization of `sent_tokenize`, `word_tokenize`, and `ngrams` from NLTK. It looks `word_tokenize` can be replaced by `SacreBleuTokenizer` and `ngrams` can be implemented by ourselves, and there looks to be no alternatives in this repository for `sent_tokenize`.

[2022-09-27 02:54] pfliu-nlp commented on #491
@odashi

In general, I think it looks good. I think the reason why we have two separate classes originally (`Metric` and `MetricConfig`) is to handle the following case (ref: https://github.com/neulab/ExplainaBoard/blob/cc2d315695cec30e21d369362d1c76ca2ce9d40c/explainaboard/processors/kg_link_tail_prediction.py#L134)

[code]
When we merge `MetricConfig` into `Metric`, I think we will have two name

[2022-09-27 05:38] odashi commented on #491
It looks natural to me, though it also looks the `name` field needs to be separated from Metric because it behaves a key of the objects.
Currently, metric configss are stored as `list[MetricConfig]` with internal key `name`, but it is more natural to reform it to `dict[str, Metric]` with explicit dictinary key so that `metric_name` in other classes point to the key of this dict, not the member of

[2022-09-27 13:31] tetsuok opened #509 "Is the current applicable condition of t-test correct?"
The `Metric.calc_confidence_interval` method considers t-test applicable only when [a given evaluation metric score is a simple average of statistics](https://github.com/neulab/ExplainaBoard/blob/cc2d315695cec30e21d369362d1c76ca2ce9d40c/explainaboard/metrics/metric.py#L428).  I'm just wondering whether another condition needs to be checked or not. I would appreciate if there is a reference on the

[2022-09-27 13:34] tetsuok commented on #509
@neubig @odashi I haven't found reliable resources in statistics about the condition. It would be great to point out such resources if any.

[2022-09-27 14:12] odashi commented on #491
@pfliu-nlp I think we can first implement `dict[str, MetricConfig]` and then come back to this issue.
(Generally I recommend `dict[str, something]` over `list[(str, something)]`)

[2022-09-27 14:21] odashi commented on #509
@neubig @tetsuok

I think we need to breakdown the condition of when it is applicable.

1. First, t-test can be applicable iff the target variables are sampled from some normal distribution. I think non-aggregated statistics satisfies this condition very rarely.
2. According to the central limit theorem, the **sum (mean) of something** tends toward a normal distribution regardless of the original

[2022-09-27 14:24] neubig commented on #509
I believe this is correct. See 3.2.1 here: https://aclanthology.org/P18-1128.pdf

[2022-09-27 14:28] odashi commented on #509
@neubig It looks the paper says the same thing with my comment.

[2022-09-27 14:38] odashi commented on #509
According to the current implementation, the sufficient statistics of the t distribution is obtained from aggregating *original values* of the given sample.

https://github.com/neulab/ExplainaBoard/blob/cc2d315695cec30e21d369362d1c76ca2ce9d40c/explainaboard/metrics/metric.py#L429-L443

This means that the code does not satisfy the condition 2 of my comment, and this code looks available only when

[2022-09-27 15:36] odashi opened #510 "t-test confidence level is wrong"
I found that the `alpha` parameter of the `scipy.stats.t.interval` **actually takes the exact confidence level $(1 - \alpha)$**.

<img width="676" alt="無題" src="https://user-images.githubusercontent.com/1023695/192571492-8bedbe8b-aa10-4e12-8c29-f1ffc3249612.png">

It looks the generated interval is wrongfully tight.
https://github.com/neulab/ExplainaBoard/blob/cc2d315695cec30e21d369362d1c76ca2ce9d

[2022-09-27 18:55] odashi commented on #491
I found that `EaaSMetricConfig` has some abuse of the `name` field: it is used to specify external metric.
https://github.com/neulab/ExplainaBoard/blob/215785c7f8ad938ae74c47b398ca82419ecc12a5/explainaboard/metrics/eaas.py#L107

[2022-09-28 17:05] odashi commented on #509
Additional notes:

We may be able to assume that the variable `my_mean` is sampled from a normal distribution $\mathcal{N}_m$ according to the `is_simple_average` condition. However, we don't know the mean and the variable of $\mathcal{N}_m$ , which are different of ones calculated from the data.

[2022-09-29 05:11] neubig commented on #509
Good question. Here is a reference that I think answers the question for large `n`: https://stats.stackexchange.com/a/44280

For small `n` (e.g. less than 30), the data being non-Gaussian could be an issue. Here is a nice simulation that examines how inaccurate the confidence intervals are for variously distributed data: https://stats.stackexchange.com/questions/242037/robustness-of-the-student-t-

[2022-09-29 05:14] neubig commented on #510
Ah, we should fix this.

[2022-09-29 16:57] #477 closed

[2022-09-29 17:34] odashi commented on #509
- The CLT can not be applied to the original distribution.
- The CLT can be applied to distribution of sums/means (with enough sample size) generated from the original data.

The problem here may be that the current code calculates the former distribution by assuming that the sample is normally distributed. If we want to apply the CLT assumption, we need to prepare datasets of **sums** somehow, no

[2022-09-30 10:40] neubig commented on #509
Hi!

That's basically what the bootstrap test is doing right?

AFAIK, student's t-test is avoiding the necessity to do explicit bootstrapping by assuming that **the sample mean** follows Student's t-distribution (which converges to the normal at large n). This is true if the data is normally distributed, but not true for non-normal data with small n. Here is another reference that explains in a bi

[2022-09-30 13:49] odashi commented on #509
Hi all, I learnt again about the theory around this.

Yes

Yes. and the topic we need to discuss is whether we are calculating the correct statistics of the samples.

First, I noticed that I have a misunderstanding around the following statistics:
https://github.com/neulab/ExplainaBoard/blob/cc2d315695cec30e21d369362d1c76ca2ce9d40c/explainaboard/metrics/metric.py#L434-L435
that calculate the corre

[2022-09-30 13:56] odashi commented on #509
By either Welch's test or paird test, we need two samples at the same time, and one-sample confidence interval is not applicable.

[2022-09-30 18:59] neubig commented on #509
Thanks! I'm not sure I totally understood this though:

AFAIK, the t-test can also calculate the confidence interval of the mean of a single sample, in addition to calculating the difference between means of two samples. For instance, see the first two sections of this article: https://www.bmj.com/about-bmj/resources-readers/publications/statistics-square-one/7-t-tests

[2022-09-30 20:35] odashi commented on #509
@neubig one-sample t-test is applicable only when we can assume that two samples has the same variance. It is in general not guaranteed in our pipeline.

[2022-09-30 22:04] odashi commented on #509
@neubig Hi, I think my [previous comment](https://github.com/neulab/ExplainaBoard/issues/509#issuecomment-1263601648) was almost the point that we need to make some consensus.

One-sample t-test is performed under an assumption that the population mean of the null hypothesis $\mu_0$ is strictly a constant. If the hypothesis follows this condition, e.g., "the accuracy of the proposed system is dist

[2022-10-02 03:24] odashi opened #518 "AnalysisLevel does not own distinctive information"
Currently, every `Processor` distinguishes the process according to `AnalysisLevel`. This struct has name, features, and metric configs. Features and metric configs are specified by the processor itself, and they are only meaningful if the level is used with the same Processor. This means that the owner of these information is `Processor`
Thus, `AnalysisLevel` is eventually only the key of these v

[2022-10-02 06:12] #145 closed

[2022-10-02 06:13] #361 closed

[2022-10-02 06:15] odashi commented on #325
I think this topic should be upvoted according to #509

[2022-10-02 06:40] odashi commented on #421
Loader is not serialized and the registry is implemented with the TaskType. So TypeRegistry is not necessary and it may be enough to implement a factory instead of the current registry.

[2022-10-02 10:49] #510 closed

[2022-10-02 11:02] neubig commented on #509
OK, great, so I think we agree then? Just rephrasing to make sure that we're on the same page:

For calculating confidence intervals of a single sample, what we're doing now is probably OK, but we should add a check that the sample size is larger than a threshold (e.g. 30).

For comparing two systems, we need to implement something else (issue #325). Note that pairwise bootstrap tests are actually

[2022-10-02 18:32] #490 closed

[2022-10-02 18:33] #173 closed

[2022-10-02 19:30] odashi commented on #509
@neubig We finally need to breakdown this issue to actual tasks I guess.
@tetsuok Could you check the whole thread?

[2022-10-03 16:02] tetsuok commented on #509
@odashi sure.

[2022-10-04 09:50] neubig commented on #518
I think that's a reasonable alternative design and may be simpler.

My only concern (which I haven't thought about very carefully yet) is whether changing to this design would limit us in our ability to make features more customizable, which is one of our high priority tasks.

[2022-10-04 11:10] tetsuok commented on #509
@odashi I think required code change and the direction look good to me.

[2022-10-04 21:49] qjiang002 opened #530 "Metrics with different analysis levels have the same name"
Some tasks may use the same metric on different analysis levels. Although they metric functions at different levels are different, they share the same name, and this leads to the same metric names in the report's overall performance. Such tasks are NER and argument pair extraction (APE).

This may cause problem in sorting the systems using the metric score. When changing list[(name, thing)] to dic

[2022-10-05 00:44] odashi commented on #518
I think it is enough to provide a functionality to retrieve a list of features corresponding to given analysis level name.
[code]

The returned features can be modified outside the processor.

[2022-10-05 02:33] odashi commented on #518
I also think that the current AnalysisLevel can become an attribute of the Processor at initialization, or we can implement separate Processors for different AnalysisLevels, to avoid aditional control flow around AnalysisLevels.

[2022-10-05 02:41] neubig commented on #518
The solution in the first of the two above comments seems reasonable to me for now! The latter ones seem like bigger changes that we'd have to think about more carefully

[2022-10-05 03:45] #421 closed

[2022-10-06 00:58] odashi commented on #530
This was actually a potential problem revealed by recent changes, which is caused by the fact that the final report does not have explicit information of mappings between analysis levels and performances.

I think it would be essentially better to give a unique name for every metric:

[code]

[2022-10-06 05:15] odashi commented on #530
Anyway, I will fix this by changing all lists in `Result` to dicts.

[2022-10-06 05:31] odashi commented on #530
I found that some meta-analysis code is unable to be fixed quickly. Since it heavily relies on the order of the original list.
I think `meta_analyses` directory is not tested appropriately at all and it doesn't work for now.

[2022-10-06 05:31] odashi commented on #530
@neubig

[2022-10-06 05:56] odashi commented on #530
I proposed #534, which don't include fixes for meta_analysis.

[2022-10-07 10:29] tetsuok opened #536 "Lint Markdown files"
Currently, we manually check the syntax and style of Markdown files. The review process is time-consuming and can be inconsistent. It's better to automate the check so that reviewers can focus on the contents and clarity.

# Actions

- [x] Set up pre-commit and CI
- [ ] Fix all the remaining issues

[2022-10-07 17:13] neubig opened #537 "Potential issue with spearman R bootstrapping"
We observed the following test failure when i[ntegrating another PR](https://github.com/neulab/ExplainaBoard/pull/532):
[code]

We are not sure whether this is an issue with the test or the underlying code, but as a temporary measure we reduced the sensitivity of the test. We should go back and check to make sure whether this is just due to bootstrapping variance or whether it's due to a bug in th

[2022-10-07 21:20] odashi commented on #537
The cause of randomness may be that we didn't fix the random seed.

https://github.com/neulab/ExplainaBoard/blob/9ba998c125587bb5a9b421706b1ca50028af220b/explainaboard/metrics/metric.py#L571

I think a possible fix is:

1. Provide a way to fix the seed from outside
2. Implement test case with almost-equal assertion for several seeds

[2022-10-07 21:23] odashi commented on #537
NumPy provides `SeedSequence` functionality which allows us to hierarchically initialize the random seeds over the whole library. I think it would be better that every class that calculates something have SeedSequence argument in `__init__`.

[2022-10-08 12:24] neubig commented on #537
That seems reasonable to me.

[2022-10-08 18:59] pfliu-nlp commented on #536
Hi, @tetsuok
A lot of new errors appeared regarding markdown lint when making a new PR, for example https://github.com/neulab/ExplainaBoard/actions/runs/3211437027/jobs/5249605967

[2022-10-08 23:22] tetsuok commented on #536
@pfliu-nlp The linter found that the change doesn't follow the [rules](https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md). It's not a bug in the linter. Found errors need to be fixed in the same way as we fix errors found by flake8.  Would you fix them?

[2022-10-08 23:52] tetsuok commented on #536
@pfliu-nlp Some trivial errors can be fixed automatically by running 'pre-commit run markdownlint-cli2-fix --all-files'.

[2022-10-09 00:56] tetsuok commented on #537
I'm seeing this failures with a high probability. It's time consuming to re-run integration tests just to make PR green. Is someone already working on the fix?

[2022-10-09 01:21] neubig commented on #537
We have a temporary fix of making the test more lenient that is mixed in with this PR: https://github.com/neulab/ExplainaBoard/pull/532

It might be worth pulling out just that fix and making it a separate PR.

[2022-10-09 01:25] neubig commented on #536
@tetsuok : I think the issue was probably that the PR that @pfliu-nlp was working on had not yet merged in the main branch. I just did it now, so let's see if that fixes the problem.

[2022-10-09 03:26] tetsuok commented on #536
@neubig Ok. Thanks for the update.

[2022-10-09 12:13] tetsuok commented on #537
@neubig I think we should create a separate PR to fix this flaky test as soon as possible, given that the PR is still in review.

[2022-10-09 12:17] tetsuok opened #547 "test_generate_system_analysis in integration_tests.summarization_test.SummarizationTest is flaky"
Sometimes, `test_generate_system_analysis` in `integration_tests.summarization_test.SummarizationTest` is failing in CI. An example failure can be found at: https://github.com/neulab/ExplainaBoard/actions/runs/3214011085/jobs/5254156113. The relevant part of the log is the following:

[code]

[2022-10-09 13:16] neubig commented on #537
I agree. I'm not able to do it now, but welcome anyone else who can do it

[2022-10-09 13:43] tetsuok commented on #537
@neubig I'll create a PR to cherry-pick the change in the test in #532. I will add comments to #532, too.

[2022-10-10 00:59] #536 closed

[2022-10-10 15:10] neubig commented on #473
Ah, thanks, I see. It'd be nice to have a wrapper for sentence tokenization too.

[2022-10-10 15:11] neubig commented on #478
I think this is fixed by #549. @pfliu-nlp and @tetsuok could you confirm and close the issue if so?

[2022-10-10 15:13] tetsuok commented on #478
Thanks. Verified.

[2022-10-10 15:13] tetsuok commented on #478
Closing.

[2022-10-10 15:13] #478 closed

[2022-10-10 15:15] neubig commented on #370
I'm looking through old issues in github, and just wanted to say that I like this direction a lot and I think we're moving towards it gradually. A more strict definition of "required datatypes" would also be useful in other places of the code as well, like when we define feature functions, etc.

[2022-10-10 15:19] neubig commented on #385
Sorry I realize I didn't comment on this yet, but I agree with this general direction and I think we're moving in this direction already!

[2022-10-10 15:34] neubig commented on #467
Yeah, I think it can be removed for now.

[2022-10-11 08:53] odashi commented on #537
Plan to apply the change:

1. Implement `seed` argument in `Metric.__init__`, which is defaulting to `None`. If `seed` is None, it is initialized randomly.
2. Implement `Metric.get_seed` to return the seed that the object holds.
3. In inherited classes, Implement randomizer with initializing a spawned seed from the seed returned by `get_seed`.

[2022-10-12 13:40] neubig opened #556 "Add "create documentation" to add_tasks.md"
There is a guide on how to add new tasks: https://github.com/neulab/ExplainaBoard/blob/main/docs/add_new_tasks.md

However it doesn't mention adding documentation, and it should. Here are some places where tasks should be added:
* https://github.com/neulab/ExplainaBoard/blob/main/docs/cli_interface.md
* https://github.com/neulab/ExplainaBoard/pull/553

[2022-10-12 13:41] neubig opened #557 "Reconsider default number of buckets"
Currently the default number of buckets is 4: https://github.com/neulab/ExplainaBoard/blob/38db95801cbd15e2e9b2db7b60c40bd7173e1deb/explainaboard/analysis/analyses.py#L117

But this is probably too few when we're doing discrete bucketing. It'd probably be better to have the default be 4 for continuous and more (maybe 10) for discrete bucketing.

[2022-10-13 00:21] odashi commented on #509
@tetsuok I think the task necessary to be applied is only modifying the condition:

[code]

If you have time, could you take some time to make a change?

[2022-10-13 01:39] neubig commented on #491
Sorry about the late comment on this, but I agree with getting rid of MetricConfig. Sounds good!

[2022-10-13 04:10] tetsuok commented on #509
@odashi sure.

[2022-10-13 16:26] qjiang002 commented on #556
Resolved in PR #553

[2022-10-14 10:09] #426 closed

[2022-10-14 10:11] odashi commented on #302
Duplicate of #446, close anyway

[2022-10-14 10:11] #302 closed

[2022-10-14 10:16] odashi commented on #446
Remaining tasks:

The ultimate goal of this is to serialize `SysOutputInfo` by the `serialization subpackage`. It requires to implement the `Serializable` interface for following classes:

- All classes in `analyses` package
- BucketPerformance

[2022-10-14 11:58] tetsuok commented on #509
Closing as the required change was merged as c7a9fad497d455a339272650ead766a83a22ba01.

[2022-10-14 11:58] #509 closed

[2022-10-14 12:16] neubig commented on #446
Sounds great, thanks for the update.

[2022-10-14 14:37] neubig commented on #495
Suggestion from Avi at IBM, so I guess we should focus on PrimeQA's TyDiQA:

[2022-10-14 15:12] tetsuok commented on #472
I've created a pull request #560 to use `~=` operator, but it turned out this is not so straightforward. Transitive dependencies introduced by DataLab cause the CI jobs to fail when they run `pip install .`. We could revisit this issue once either the transitive dependencies or dependency on DataLab itself can be resolved.

[2022-10-14 16:27] odashi commented on #267
Duplicate of #446

[2022-10-14 16:27] #267 closed

[2022-10-15 01:06] tetsuok commented on #537
Assigning to me as per the offline discussion with @odashi.

[2022-10-18 01:57] #537 closed

[2022-10-20 11:15] odashi opened #575 "Add system metadata class"
`Processor.process()` takes `metadata`, which is used to directly initialize `SysOutputInfo`. However, these are essentially different data (especially, "metadata" $\subset$ `SysOutputInfo`, but not $=$) and the current implementation makes some confusion around this:

The most significant abuse around this behavior is that `FileLoaderMetadata` is implicitly converted into `SysOutputInfo`. This sh

[2022-10-20 12:09] neubig commented on #575
Sounds like a good idea, I agree

[2022-10-20 13:22] odashi opened #577 "Consolidate quotes for strings"
This repository contains both single quotes and double quotes for representing string literals. It is basically better to choose exactly one notation since mixing both significantly drops searchability of the code (if we searched `"something"`, the result never includes `'something'`).

I recommend to choose double quotes since (1) Black adopts it by default, and (2) I think it is the majority of

[2022-10-24 05:24] #446 closed

[2022-10-24 12:08] odashi commented on #417
This issue was resolved.

[2022-10-24 12:08] #417 closed

[2022-10-24 14:40] #577 closed

[2022-10-26 10:43] tetsuok opened #583 "add_tasks.md is out of date"
It seems `add_tasks.md` is out of date. `add_tasks.md` mentions `tasks.py` in three places below:

- https://github.com/neulab/ExplainaBoard/blame/fcedd5d7aab172b943c6b0025685b09744f149fd/docs/add_new_tasks.md#L6
- https://github.com/neulab/ExplainaBoard/blame/fcedd5d7aab172b943c6b0025685b09744f149fd/docs/add_new_tasks.md#L12
- https://github.com/neulab/ExplainaBoard/blame/fcedd5d7aab172b943c6b002

[2022-10-27 07:54] odashi opened #586 "Drop Python3.8 support"
According to https://github.com/neulab/ExplainaBoard/pull/580#discussion_r1001271210 we need to drop the support for Python 3.8.
This is also beneficial to strictly support PEP585.

[2022-10-28 18:28] #586 closed

[2022-11-08 12:17] tetsuok opened #592 "Bump mypy version to 0.990"
Since mypy 0.990 was released yesterday, it would be better to bump mypy version to 0.990 to take advantage of the new features and bug fixes. It seems there is some sort of efforts to be made to adopt the version when I run mypy 0.990 in the codebase of explainaboard. Below is the output of `pre-commit run mypy --color=never --all-files`

[code]

[2022-11-10 16:30] neubig commented on #142
The third bullet is covered by https://github.com/neulab/ExplainaBoard/issues/272

The fourth bullet may be interesting, but not planned at the moment.

[2022-11-10 16:31] #142 closed

[2022-11-19 01:03] neubig opened #595 "For tabular regression/classification, use all features by default?"
Currently tabular classification and regression use basically no input features for analysis. However, this is not very useful. It'd probably be a good idea to use all continuous features for bucketing by default.

[2022-11-23 17:27] lyuyangh opened #596 "`custom_features` and `custom_analyses` are not deserialized"
https://github.com/neulab/ExplainaBoard/blob/e111afc94d01cc5ac62e7635bb2122b32b69ac4a/explainaboard/loaders/file_loader.py#L138-L151

`data["custom_analyses"]` is currently a `list[dict]`. It should have been deserialized like `custom_features` because `FileLoaderMetadata` expects a `list[Analysis]`.

Also, it looks like dataset `custom_features` & `custom_analyses` are applied twice. Once with de